@import "./reset";
// font
.t{
  &_red{color:$red;}
  &_skyblue{color:$skyblue;}
}
//ipt custom
select,
textarea,
[contenteditable],
input:not(:is([type="radio"],[type="checkbox"])){@include ipt_common;min-height:28px;}
input[type="radio"]{border-radius:50%;vertical-align:middle;accent-color:$blue;}
input[type="checkbox"]{border-radius:2px;vertical-align:middle;accent-color:$blue;}
input[type="datetime-local"],
input[type="time"],
input[type="date"]{position:relative;}
input[type="datetime-local"]::-webkit-calendar-picker-indicator,
input[type='time']::-webkit-calendar-picker-indicator,
input[type="date"]::-webkit-inner-spin-button,
input[type="date"]::-webkit-calendar-picker-indicator{position:relative;width:16px;height:15px;}
textarea{min-height:100px;max-height:300px;resize:none;background:transparent;@include fontello('\e872');}
input[list]::-webkit-calendar-picker-indicator,
select{-webkit-appearance:none;-moz-appearance:none;appearance:none;padding:2px 30px 2px 10px;background:url(../images/btn_select.png) right 8px center no-repeat, rgba(255,255,255,.9);list-style:none!important;
  option:nth-of-type(1){color:#989898;}
}
input[list]{padding-left:35px;background:url(../images/ico_search.png) 10px 50% no-repeat;}
input:is([type="radio"],[type="checkbox"]).invalid,
input:invalid {position:relative;outline:2px solid #e42b29;background-color: #faebe9; color: #e42b29;}
label:has(input){display:inline-flex;align-items:center;gap:5px;}
.btn_switch{display:flex;padding:0;
  input[type="radio"],
  input[type="checkbox"]{-webkit-appearance:none;-moz-appearance:none; -o-appearance:none;appearance:none;outline:none;box-shadow:none;vertical-align:middle;overflow:hidden;
    &:not(:disabled):hover + label{font-weight:700;cursor:pointer;}
    &:checked + label{background-color:$lightblue;border-color:transparent;color:#fff;font-weight:700;}
  }
  label{min-width:40px;border:1px solid #ccc;line-height:30px;padding:0;color:inherit;font-weight:normal;text-align:center;background-color:#fff;color:#777;border-radius:3px;
  }
}
.required{
  &::before{content:"＊";font-size:12px;}
}
.btn_gray{@include btn;color:#555;background-color:#f2f2f2;
  &_line{@include btn;color:#555;}
}
.btn_blue{@include btn($blue);background-color:$blue;color:#fff;
  &.on{box-shadow:0 0 3px $blue;}
  &_line{@include btn($blue);color:$blue;}
}
.btn_orange{@include btn($orange);background-color:$orange;color:#fff;
  &.on{box-shadow:0 0 3px $orange;}
  &_line{@include btn($orange);color:$orange;}
}
.btn_gra{@include btn;width:100%;color:#fff;background:linear-gradient(to right,  rgba(21,88,211,1) 0%,rgba(0,3,150,1) 97%);border-width:0;font-size:16px;letter-spacing:.5em;line-height:2.2;}
.btn_foot_blue{@include btn_foot;}
.btn_foot_gray{@include btn_foot(#a9a9a9);}
.btn_refresh_square{@include btn_square('\e84c');&::before{font-size:16px;}}
.btn_zoomin_square{@include btn_square('\e92c');}
.btn_zoomout_square{@include btn_square('\e92e');}
.btn_more_square{@include btn_square(null);position:relative;
  &::before,
  &::after{@include shape(12px, 2px);position:absolute;left:50%;top:50%;transform:translate(-50%,-50%); border-radius:1px;background-color:#848890;}
  &::after{transform:rotate(90deg);left:25%;top:45%;}
}
.btn_heatmap_square{@include btn_square('\eb18');}
.btn_bar_square{@include btn_square('\eb1d');
  &::before{transform:rotate(90deg) translateY(2px)}
}
.btn_refresh{@include btn(#cbcbcb,'\e84c');color:#939393;padding:0 8px;line-height:20px;
  &::before{font-size:12px;}
}
.btn_help{@include ico_only('\e81d');position:relative;top:1px;}
.btn_del{@include ico_only('\eb2e');}
.btn_pdf{@include btn($addTxt:'\f1c1');}
.btn_excel{@include btn($addTxt:'\f1c3');}
.btn_img{@include btn($addTxt:'\eb63');}
.btn_print{@include btn($addTxt:'\e833');}
.tgl_viewType{position:relative;
  label{@include label_item(true, #fff, $onColor:#333 );&{font-size:0;width:30px;aspect-ratio:1;}
    &::before{@include fontello('\eb18');font-size:16px;}
    &:has(:checked)::before{content:"\eb1d";transform:rotate(90deg) translateY(2px);}
  }
}
@keyframes blink_bg{
  // $col :rgba(255,103,103,.2);
  0%{outline:none;box-shadow:none;}
  50%{outline:2px solid rgba(255,103,103,.2);}
  75%{box-shadow:0 0 0 4px rgba(255,103,103,.2);outline-color:rgba(255,103,103,.6);} 
  100%{box-shadow:none;} 
}
.blink{display:inline-flex;align-items:center;gap:3px;
  animation:blink_bg 1.5s infinite steps(3, jump-none);
  &::after{@include shape(15px,12px);background:url(../images/blink_arr.gif) 0 0 no-repeat;}
}
@keyframes spin {
  0% { -moz-transform: rotate(0deg); -o-transform: rotate(0deg); -webkit-transform: rotate(0deg); transform: rotate(0deg); }
  100% { -moz-transform: rotate(359deg); -o-transform: rotate(359deg); -webkit-transform: rotate(359deg); transform: rotate(359deg);}
}
.select_lst{display:flex;flex-wrap:wrap;justify-content:flex-start;gap:9px;
  li{display:flex;align-items:center;gap:3px;position:relative;background-color:#fff;border-radius:11px;overflow:hidden;border:1px solid #9fc9ff;font-size:12px;color:#555;transition:.3s;padding:2px 9px;
    button{width:13px;height:100%;color:#dedede;font-size:0;cursor:pointer;text-align:right;
      &::after{@include fontello('\eb2e');font-size:12px;}
    }
    &:hover{background-color:#dcf1fa;border-color:#61a6fd;
      button{color:#555;}
    }    
  }
  .user_area::before{@include fontello('\eb2b');color:#057ffc;}
}
.flex_wrap{@include flex_between;}
.figure_wrap{display:flex;align-items:stretch;justify-content:space-between;margin:30px 0 20px;text-align:center;
  figure:only-child{margin:0 auto;}
  figure{flex-shrink:0;}
  .inner_wrap{display:flex;flex-wrap:wrap;
    figure{flex:1 1 auto;margin:0;img{display:block;}}
    figcaption{display:inline-block;font-size:12px;color:#000;background-color:#ebebeb;margin-top:5px;padding:3px 7px;border-radius:5px;}
  }
}
// layout
$maingap:20px;
$navH:315px;
.wrap{display:flex;flex-direction:column;position:relative;min-width:1600px;height:100vh;font-size:13px;color:$black;font-family:"NanumGothic","나눔고딕","Malgun Gothic","맑은고딕","Apple SD Gothic Neo","AppleSDGothic","Nanum Barun Gothic","NanumGothic","AppleGothic","Dotum","Arial",sans-serif;}
.header{position:relative;flex-shrink:0;height:75px;display:flex;justify-content:space-between;align-items:center;padding:0 $maingap;box-shadow:0 0 7px 0 rgba(0, 0, 0, 0.3);border-bottom:1px solid #bec6d6;z-index:100;
  .main_logo{@include shape(301px,31px);
    a{@include f_blind;width:100%;height:100%;background:url(../images/logo.png) 0 0 no-repeat;}
  }
  &::after{position:absolute;top:100%;left:0;@include shape(100%, 0);background-color:#fff;transition:height .5s;margin-top:1px;}
  &:hover{
    &::after{height:$navH;border-bottom:1px solid #bec6d6;}
    .sub{height:$navH;}
  }
}
.nav{height:100%;}
.nav_lst{display:flex;height:100%;align-items:center;
  & > li{width:180px;position:relative;height:100%;z-index:300;
    &:first-child .sub{border-left:1px solid #e4e5e9;}
    & > a{position:relative;top:1px;display:flex;align-items:center;justify-content:center;height:100%;font-weight:700;font-size:18px;padding:0 15px;border-bottom:3px solid transparent;
      &.on{color:$blue;border-color:$blue;}
      &:hover{color:$blue;}
    }  
  }
}
.sub{position:absolute;top:74px;display:flex;flex-direction:column;width:100%;height:0;gap:15px;border-right:1px solid #e4e5e9;z-index:200;overflow:hidden;transition:height .5s;
  li:first-child{margin-top:27px;}
  a{color:#666;font-size:14px;font-weight:normal;padding:0 15px;letter-spacing:-.05em;word-break:keep-all;
    &:hover{font-weight:700;}
    &.on{font-weight:700;color:$blue;}
  }
}
.main_container{flex:1;display:flex;
  &:has(.static_contents) + footer{position:static;transform:translate(0);text-align:center;margin-top:30px;padding:5px 0;background-color:#e4e4e4;}
  &:has(.flex_body) + footer{margin-top:0;}
}
.static_contents{width:1200px;margin:30px auto 0;
  & > header{@include tit(h1);margin-bottom:30px;
    h1{font-size:30px;}
    strong{color:#555;font-size:16px;font-weight:normal;@include divide;
      &::before{background-color:#777;}
    }   
  }
  article{@include tit(h2);margin-bottom:0;
    h1{margin-bottom:15px;
      &.arrow{position:relative;padding-left:20px;margin-bottom:0;
        &::before,&::after{position:absolute;left:3px;top:5px;@include shape(5px, 12px);background-color:$blue;opacity:.6;transform:rotate(-45deg);border-radius:5px;border:none;}
        &::after{top:10px;transform:rotate(45deg);}
      }
    }
    h2{margin-bottom:20px;}
    .tab_contents > section,
    &>section{padding-left:20px;margin-bottom:80px;@include tit_bullet('h3');
      h3{margin-bottom:15px;text-indent:-15px;}
      .dot_lst{padding-left:10px;}
    }
  }
  p:not(.info){font-size:16px;color:#555;letter-spacing:-.05em;}
  .eq{vertical-align:sub;}
  .eq.middle{vertical-align:-webkit-baseline-middle;}
  figure{text-align:center;}
  .figcaption,
  figcaption{margin-top:10px;font-size:14px;color:#555;font-weight:normal;
    span{display:block;font-size:11px;}
  } 
  .flex_figure{justify-content:center;gap:30px;
    figure{flex:0 1 auto;display:flex;flex-direction:column;justify-content:center;gap:10px;
      img{height:auto;}
      figcaption{margin-top:auto;
        p{color:#999;}
      }
    }
    &:has(.inner_wrap){flex-wrap:wrap;gap:10px;
      .inner_wrap{gap:25px;justify-content:center;
        & + figcaption{flex:1 0 100%;}
      }
      em{display:block;}
    }
  }
  .flex_figure_ver{flex-direction:column;justify-content:center;align-items:center;gap:20px;
    div{flex:0 1 auto;display:flex;flex-direction:column;justify-content:center;gap:5px}
  }
  li .equation{margin:20px 0 30px;}
  .opt3{
    .figure_wrap.flex_wrap{justify-content:flex-start;gap:25px;padding-left:10px;}
  }
}
.figure_wrap.fic_2-9{display:grid;grid-template-columns:repeat(3,1fr);align-items:end;
  div:first-of-type{grid-row:1 / span 2;}
  figcaption{grid-column:1 / span 3;}
}
.flex_body{@extend .static_contents;flex:1;padding:30px;margin:0;
  .tab li{flex:0 0 150px;}
}
.sys_method{display:flex;flex-direction:row-reverse;gap:55px;
  .chapter{position:sticky;left:0;top:0;flex-shrink:0;height:calc(100vh - 60px);overflow-y:auto;color:#707275;
    h2{border-bottom:1px solid #D5D6D7;font-size:16px;margin-bottom:10px;padding-bottom:5px;}
    a:hover{color:$navy;font-weight: 600;}
  }
  .chapter_body{counter-reset:chapter_body;
    &>article h1{font-size:22px;font-weight:600;color:#000; counter-reset:section2;margin-bottom:40px;
      &::before{counter-increment:chapter_body;content:counter(chapter_body)'.';margin-right:20px;}
    }
    .section2{display:flex;flex-direction:column;gap:25px;
      & > h2{margin-bottom:0;text-indent:-20px;
       &::before{counter-increment:section2;content:counter(chapter_body)'.'counter(section2);margin-right:15px;}
       & + .tbl_wrap:not(:has(.tbl_method)){margin-top:0;}
      }      
    }
    .section3{display:flex;flex-direction:column;gap:15px;
      h3{margin-bottom:0;}
    }
    p{font-size:14px;text-align:justify;text-indent:10px;}
  }
  .lst_default{display:flex;flex-direction:column;gap:10px;
    li{
      ul{padding-left:10px;margin-top:5px;}
      &:has(:is(.tbl_wrap,dl,.figure_wrap)){display:flex;flex-direction:column;gap:5px;}
    } 
  }
  .flex_1{flex:1;}
  .flex_1-5{flex:1.5;}
  .flex_wrap:has(.flex_1){gap:25px;align-items:start;}
}
.strong_tit{display: block;text-align:center;}
sup,sub{font-size:.63em;}
.fn_lst{font-size:12px;
  li{display:flex;gap:5px;word-break:keep-all;padding-left:15px;text-indent:-15px;}
}
.equation{display:flex;align-items:center;gap:8px;padding:0 30px;font-size:16px;margin:20px 0;
  .fraction{display:flex;flex-direction:column;text-align:center;line-height:2;
    span{padding:0 10px;
      &:first-of-type{border-bottom:1px solid #555;}
    }
  }
  i{font-style: italic;font-family:'Times New Roman', Times, serif;}
  dl{display:grid;grid-template-columns:80px 1fr;grid-auto-rows: minmax(auto, auto);row-gap:20px;}
  dt{font-weight:600;}
  dd{grid-column-start:2;}
}
.footer{position:absolute;left:50%;bottom:20px;@include textStroke(1);transform:translateX(-50%);}
.util{height:inherit;}
.profile{position:relative;width:150px;height:inherit;text-align:right;padding-right:5px;
  .account{position:relative;top:50%;transform:translateY(-50%);display:inline-flex;align-items:center;font-size:13px;letter-spacing:-.33px;
    img{border-radius:50%;overflow:hidden;object-fit:cover;}
    b{margin-left:10px;font-weight:700;
      &::before{position:absolute;left:0;top:0; @include shape(32px,32px);border:1px solid #ddd;border-radius:50%;}
      &::after{@include fontello("\e86a");margin-left:8px;}
    }
  }
  &:hover b::before{outline:4px solid rgba(60,64,67,.08);transition: outline .25s ease-in-out;}
  &:focus-within{
    b::after{content:"\e86b"}
    .my_layer{display:block;}
  }  
}
.my_layer{display:none;position:absolute;top:63px;right:0;width:100%; 
border:1px solid #ccc;border-radius:5px;background-color: #fff; z-index:100;box-shadow:0 0 7px rgba(0, 0, 0, .2);
  &::before{position:absolute;right:15px;top:0;@include shape(7px, 7px);border-color:#bec6d6;border-width:1px 0 0 1px;border-style:solid;background-color:#fff;transform:rotate(45deg);margin-top:-5px;}
  .my_svc{padding:10px 0;
    a,button{display:flex;width:100%;align-items:center;padding-left:26px;line-height:32px;font-size:13px;color:#a4a3a3;
      &::before{@include shape(16px,16px);background:url(../images/my_layer.png) 0 0 no-repeat;margin-right:17px;}
      &:hover{background-color:#f1f1f1;color:#000;
        &::before{background-image:url(../images/my_layer_on.png);}
      }
    }
    @for $i from 1 to 5{
      & li:nth-child(#{$i}) a::before{background-position-y:-26px * ($i - 1);}
    } 
  }
}

// snb
.snb{position:relative;
  .snb_lst > li{position:relative;width:100%;
    a{position:relative;width:100%;height:100%;font-size:16px;font-weight:600;color:#acc9ff;}
    ul{padding:15px 24px;
      li{display:flex;align-items:center;gap:8px;
        &::before{@include shape(3px,3px);border-radius:50%;background-color:#acc9ff;}
        &:is(.on,:hover) a{color:#fff;}
      }
      a{font-size:14px;font-weight:normal;padding:5px 0;}
    } 
  }  
}
.sub_default{flex:0 220px;background:#0a3990;
  h1{color:#fff;font-size:20px;font-weight:600;padding:24px;}
  .snb_lst > li{
    & > a{background-color:#0b42a7;padding:15px 24px;}
    &:has(ul .on),
    &.on{background-color:#0D57D4;
      & > a{background-color:#478BFF;color:#fff;}
    }
    &.on:not(:has(ul .on)){
      ul li:first-child a{color:#fff;}
    }
  } 
}
.sub_assessment{flex:0 65px;background:$blue;
  li{height:80px;background-image:url('../images/snb_assessment.png');background-repeat:no-repeat;background-position-x:50%;
    &:hover{background-color:darken($color: $blue, $amount: 5%);}
    &:last-child a span{min-width:122px;white-space:initial;}
    @for $i from 1 through 7{
      &:nth-child(#{$i}){background-position-y:-80px * ($i - 1);}
    }
    &.on{background-color:$navy;}
    &:nth-child(4){margin-bottom:20px;
      &::after{@include shape(50%,0);position:absolute;left:50%;bottom:-10px;transform:translateX(-50%);border-top:1px solid #ffffff50;border-bottom: 1px solid $navy;}
    }
  }
  a{
    span{display:none;position:absolute;left:57px;top:50%;transform:translateY(-50%);background-color:#fff;border:1px solid #a2a2a2;color:$blue;box-shadow: 0.5px 0.9px 4px 0 rgba(0, 0, 0, 0.2);border-radius:5px;font-size:13px;letter-spacing:-.33px;font-weight:700;line-height:1.15;word-break:keep-all;white-space:nowrap;padding:7px;
        &::before{position:absolute;left:-5px;top:50%; @include shape(9px, 9px);border-color:#a2a2a2;border-width:1px 0 0 1px;border-style:solid;background-color:#fff;transform:rotate(-50deg) skew(-10deg);margin-top:-5px;}
      }
      &:hover span{display:block;z-index:50;}
  }
}
.cont_body{flex:1;display:flex;justify-content:space-between;position:relative;min-height:366px;overflow:hidden;}
.bredcrumb{
  ul{display:flex;justify-content:flex-end;}
  li{letter-spacing:-.65px;color:#888;font-weight:normal;
    &:first-child{
      &::before{top:0;@include fontello('\e81f');color:#888;margin:0;font-size:15px;}
      a{@include f_blind;}
    }
    &:last-child{font-weight:bold;color:#000;}
    &::before{position:relative;top:-1px;@include fontello('\f105');margin:0 5px;color:#888;font-weight:normal;}
  }
}
.pannel{position:relative;height:100%;max-height:calc(100vh - 75px);min-height:480px;background-color: #fff;z-index:10;overflow:hidden;
  .pannel_wrap{width:500px;height:100%;border-right:1px solid $border;overflow-y:auto;
    & > header{border-bottom:1px solid $border;padding:$maingap;@include tit;margin-bottom:0;}
  }  
  .pannel_body{display:flex;flex-direction:column;gap:20px;padding:$maingap;
    .tit:has(.date){margin-bottom:0;
      .date{font-size:11px;color:#8b8b8b;letter-spacing:-.5px;margin-left:auto;}
    }
    .heatmap_wrap + .tbl_wrap{margin-top:20px;}
    .heatmap_wrap li:hover{cursor:pointer;border-color:$navy;background-color:$blue;color:#fff;}
    .summary{display:flex;flex-direction:column;align-items:center;gap:15px;}
    .total_results{display:flex;gap:5px;align-items: center;justify-content: center;background-color:$bggray;padding:8px 0;border-radius:5px;}
    .chartwrap{width:280px;}
  }
  .main_result{display:none;}
}
.filter{display:flex;flex-direction:column;gap:15px;margin-top:15px;
  h2{font-size:14px;color:#555;font-weight:800;margin-bottom:5px;}
  .flex_wrap{gap:4px;
    h2{min-width:70px;margin-bottom:0;}
  }
  select,
  .ipt_wrap input,
  .ipt_wrap select{border:2px solid $blue;border-radius:3px;height:38px;}
  .lv{width:111px;}
  .seltab_wrap{position: relative; flex:1;display:flex;align-items:stretch;}
  .ipt_wrap{flex:1;display:flex;gap:5px;
    select{width:80px;}
    input{flex:1;}
  }
  .btn_add{@include btn_square('\e92c');width:38px;height:auto;border:none;background-color:$blue;border-radius:0;
    &::before{color:#fff;font-size:16px;}
  }
  .areaLst{gap:5px;
    li{flex:1;}
    label{width:100%;line-height:34px;}
    :disabled + label:hover{cursor:not-allowed;}
  }
  .areaUnit{display:flex;gap:10px;flex:1;
    input{margin-right:5px;}
  }
  .filterLst{display:grid;grid-template-columns:120px 1fr;
    dt{font-size:14px;color:#555;font-weight:800;margin-bottom:5px;}
    dd{display:flex;align-items:center;gap:15px;
      label{display:flex;align-items:center;gap:5px;}
    }
  }
  .btn_search{@extend .btn_gra;}
}
.btn_area{text-align: center;margin-top:15px;}
.tit,
.top_area{display:flex;align-items:center;@include tit('h1,h2');gap:5px;
  h1{position:relative;font-size:18px;color:#0065d6;}  
  h2{display:flex;align-items:center;gap:5px;font-size:15px;color:#545f6b;
    &::before{@include shape(5px,5px);background-color:#89A6D6;border-radius:50%;}
  }
  .tool_wrap{margin-left:auto;
    select{border:1px solid #000;border-radius:3px;min-width:var(--w);line-height:34px;}
  }
  .unit{font-size:11px;color:#838383;}
}
.info{display:inline-flex;align-items:center;gap:5px;color:#555;font-size:14px;
  &::before{@include fontello('\e877');color:#89A6D6;}
  & + button{margin-left:20px;}
}
.top_area{flex-direction:column;align-items:stretch;
  .search{margin-bottom:0;}
  .info{margin-left:auto;}
}
.sub_tit{display:flex;border-radius:15px;margin-bottom:5px;padding:3px 10px;border:1px solid $blue;  
  .tool_wrap{flex-shrink:0;margin-left:auto;}
}
.sidePannel_fold{position:absolute;left:-1px;top:50%;display:flex;align-items:center;justify-content:center;width:22px;height:47px;background-color:#fff;
border:1px solid $border;border-left-width:0;border-radius:0 3px 3px 0;font-size:0;z-index:10;transform:translateY(-50%);box-shadow:7px 2.6px 7px 0 rgba(0, 0, 0, 0.15);cursor:pointer;
  &::before{@include fontello('\e86d');font-size:14px;color:$blue;}
  &[data-value="off"]::before{@include fontello('\e86c')}
}
.right_pannel{left:auto;right:-1px;border-radius:3px 0 0 3px;box-shadow:-7px 2.6px 7px 0 rgba(0, 0, 0, 0.15);border-width:1px 0 1px 1px;
  &[data-value="on"]::before{@include fontello('\e86c')}
  &[data-value="off"]::before{@include fontello('\e86d')}
}
.summary{overflow:hidden;
  .tit{border-bottom:1px solid #eaeaea;padding-bottom:5px;
    strong{letter-spacing:0;}
  }
  & > p{@include explanation;color:#555;letter-spacing:-.13px;background-color:#f5f5f5;margin:15px 0;padding:5px 5px 5px 25px;border-radius:5px;
    &::before{left:7px;}
  }
  .date{display:block;margin:5px 0 5px auto;font-size:11px;color:#8b8b8b;letter-spacing:-.5px;text-align:right;}
}
.contents{position:relative;flex:1;background-color:gray;}

//login
.login_wrap{display:flex;flex-direction:column;align-items:center;justify-content:center;height:100vh;gap:45px;
  .footer{position:initial;font-size:12px;color: #696868;transform:translateX(0);}
}
.login{width:600px;background-color:#fff;border:1px solid #d7d7d7;box-shadow: 0 0 6px 0 rgba(3, 3, 3, 0.14);padding:59px 75px 87px;border-radius:5px;
  .logo{@include shape(211px,53px);@include f_blind;background:url(../images/logo_ndmi.png) 0 0 no-repeat;}
  .sys_logo{@include shape(442px,35px);@include f_blind;background:url(../images/logo_sysname.png) 0 0 no-repeat;}
  .ipt_wrap{display:flex;flex-direction:column;margin-top:100px;gap:30px;
    & > input{width:100%;border-bottom:1px solid #d7d7d7;border-image:none;border-width:0 0 1px;box-shadow:none;line-height:35px;}
    .set_login{font-size:13px;color:#777;margin-bottom:60px;}
    .btn_login{width:100%;color:#fff;background-color:$blue;border-radius:35px;line-height:75px;font-size:20px;font-weight:700;text-align:center;
      &:hover{background-color:darken($color:$blue, $amount:10);}
    }
  }  
}

// table
.tbl_top{display:flex;align-items:center;gap:5px;margin-bottom:10px;
  .tool_wrap{margin-left:auto;}
  .renewal{display:inline-flex;align-items:center;gap:5px;margin-left:auto;color:#555;
    &::before{@include shape(3px, 3px);background-color:#777;border-radius:50%;}
  }
  .search_lst{display:flex;align-items:center;gap:10px;
    &::before{@include fontello('\f0b0');border-right:1px solid $lightgray;padding:6px 12px 7px 8px;line-height:3px;}
  }
}
.tbl_filter{@include divide;gap:5px;}
.tit + .tbl_top:has(.search_lst){border-top: 1px solid $lightgray;padding-top:10px;}
.tbl_wrap{position:relative;
  &:not(:has(.tbl_default)){border-top:2px solid $blue;}
  .bot_wrap{display:flex;gap:4px;margin-top:20px;
    button{width:100px;line-height:40px;font-size:14px;}
  }
  &:has(.tbl_top){border-top-width:0;}
  &.dark{border-top:1px solid #000;
    table th{border-bottom-color:#000;}
  }
}
.tbl_wrap_scroll{@extend .tbl_wrap;height:calc(100vh - 297px);overflow-y:auto;background-color:$lightgray;border-top:2px solid $blue;border-bottom:1px solid $lightgray;
  table thead{position:sticky;left:0;top:0;
    th{border-top-width:0;}
    &::before{position:absolute;left:0;bottom:0;@include shape(100%, 0);border-bottom:1px solid $blue;}
  }
}
.search + .tbl_top + .tbl_wrap_scroll{height:calc(100vh - 358px);}
.tbl_scroll_x{overflow-x:auto;
  table{table-layout:fixed;width:auto;min-width:100%;}
  th,td{white-space:nowrap;padding:3px;}
}
.tbl_hover tbody tr:hover{cursor:pointer;background-color:#f6f6f6;}
.tbl_default{width:100%;border-collapse:separate;background-color:#fff;
  th,td{border:1px solid $lightgray;border-width:1px 0 0 1px;padding:3px;letter-spacing:-.6px;
    word-break: keep-all;text-align:center;line-height:1.3;height:26px;
    &:first-child{border-left-width:0;}
  }
  thead tr{
    &:not(:first-child) th{border-left-width:1px;}
    th{border-top:1px solid #035cd5;font-size:11px;}
  }
  th{background-color:#4596FF;color:#fff;font-weight:700;}
  .rowgroup{
    td{background-color:#EEF5FF;border-top:1px solid #82AFEB;border-bottom:1px solid #82AFEB;font-weight: 700;color:#000;}
    &+tr td{border-top-width:0;}
    &:first-of-type td{border-top-color: #035cd5;}    
  }
  tbody tr:first-child td{padding-top:4px;}
  tr:last-child td{border-bottom-width:1px;}
}
.tbl_notice,
.tbl_set{width:100%;text-align:center;color:#555;background-color:#fff;
  thead{background-color:#fff;
    th{border-bottom:1px solid #6a90d5;border-left:1px solid $lightgray;font-weight:700;color:#000;;padding:3px;}
    tr:first-of-type{
      th:first-of-type{border-left-width:0;}
    }
    &:not(:has([rowspan])) th{height:40px;}
  }
  td{height:35px;border:1px solid $lightgray;border-width:0 0 1px 1px;
    &:first-child{border-left-width:0;}
    &[rowspan]{border-right-width:1px;}
  }
  input[type="checkbox"]{accent-color:#848890;}
  tr:has(:checked){background-color:lighten($color:$blue, $amount: 50);}
  .highlight{background-color:#fffbe4;}
}
.tbl_notice{
  thead th{height:57px;}
  input[type="checkbox"]{width:18px;aspect-ratio:1;}
  td{height:40px;padding:7px;}
}
.tbl_intro{font-size:12px;
  thead th{height:24px;border:1px solid #999;background-color:#f5f5f5;}
  td{height:19px;border:1px solid #ccc;}
  th,td{padding:0 8px;}
}
.tbl_wrap:has(.tbl_method){margin-top:25px;}
.tbl_method{width:100%;font-size:12px;text-align:center;
  caption{top:-25px;display:block;font-size:13px;text-indent:0;visibility:visible;line-height:1;}
  th,td{border:1px solid $lightgray;border-top-width:0;padding:3px;}
  th{color:#000;font-weight:600;background-color:#f5f5f5;padding:5px;word-break:keep-all;}
  td li{text-align:left;font-size:13px;}
  i{font-style:italic;}
}

.status_wait{color:$blue;}
.status_fin{color:#9ca9bd;}
.status_ing{color:$tomato;}
.progress_wrap{display:inline-flex;align-items:center;width:140px;gap:8px;
  progress{flex:0 0 75px;height:8px;accent-color:$blue;border-color:$blue;border-radius:5px;overflow:hidden;
    &::-moz-progress-bar{background:$blue;border-radius:5px;}
    &::-webkit-progress-value{background:$blue;border-radius:5px 0 0 5px;}
    &::-webkit-progress-bar{border-radius:5px;background-color:#edf0f3;}
  }
  @include firefox_only{
    progress{height:8px;}
  }
  label{flex:1 0 auto;text-align:center;color:#9ca9bd;font-size:11px;
    strong{color:$blue;white-space:nowrap;}
  }
}
.formula{flex:1; display:flex;align-items:center;justify-content: center;gap:10px;font-size:16px;font-weight:600;}
     
.faq{
  %ico{@include shape(30px,30px);flex-shrink:0;border-radius:50%;color:#fff;font-size:20px;font-weight:800;text-align: center;line-height:30px;vertical-align:middle;margin-right:20px}
  th,
  td{&:first-child,&:last-child{width:70px;}}
  td{@include alignL(2);padding:10px;}
  tr:nth-child(odd) td:nth-child(2)::before{@extend %ico;content:"Q";background-color:$blue;}
  tr:nth-child(even){display:none;background-color:#f6f6f6;
    td:nth-child(2) p{display:flex;padding-right:120px;
       &::before{@extend %ico;content:"A";background-color:#ccc;}
    }
  }
  tr:has(input:checked) + tr{display:table-row;}
  label{cursor:pointer;&:hover{text-decoration: underline;}}
  .btn_gray_line{border-radius:13px;}
}
.manual{table-layout:fixed;
  td{@include alignL(2){text-overflow:ellipsis;overflow:hidden;}white-space:nowrap;}
}
%attach{@include shape(24px,28px);background:url(../images/ico_attach.png) 0 0 no-repeat;}
.ico_hwp{@extend %attach;background-position-y:0;}
.ico_pdf{@extend %attach;background-position-y:-37px;}
.ico_ppt{@extend %attach;background-position-y:-74px;}
.ico_word{@extend %attach;background-position-y:-112px;}
.ico_etc{@extend %attach;background-position-y:-150px;}
.tbl_comprehensive_safety{
  td{width:calc((100% - 80px) / 6);white-space:10px;letter-spacing:0.05em;}
  td:first-child{width:80px;letter-spacing:-.05em;}
}

//lst
.dash_lst,
.dot_lst{display:flex;flex-direction:column;gap:15px;
  dt{font-weight:700;}
  & > dd,
  & > li{position:relative;padding-left:10px;font-size:16px;color:#555;letter-spacing:-.05em;
    &::before{position:absolute;left:0;top:9px;@include shape(4px,4px);border-radius:50%;background-color:$blue;}
  }
  & > dd::before{background-color:#999;}
}
.ipt_lst{display:flex;flex-direction:column;gap:30px;
  & > li {& >.label, & >label{font-size:16px;color:$blue;margin-bottom:10px;font-weight:700;}} 
  input:not(:is([size],[min],[type="checkbox"],[type="radio"])){width:100%;}
  [contenteditable]{min-height:var(--h);max-height:430px;overflow-y:auto;}
  &.inline{gap:15px;
    & > li{position:relative;display:flex;gap:5px;align-items:center;padding-left:16px;      
      &:has(.invalid){padding-bottom:23px;
        label{color:$tomato;}
      }

      &.required{padding-left:0;}
      & > .label,& > label{flex-shrink:0;min-width:120px;margin-bottom:0;
        &:not(:first-of-type){margin-left:95px;}
      }
    }
    input,select{line-height:1.3;}
    .invalid{position:absolute;left:142px;bottom:0;color:$tomato;}
  }
  .btn_switch{flex:1;gap:5px;
    &:not(.useYN) li{flex:1;}
    label{width:100%;min-width:auto;white-space:nowrap;padding:0 10px;}
  }
  .select_lst{padding-left:125px;}
  .label + .select_lst{padding-left:0;}
  li:has(.info){flex-wrap:wrap;
    .info{flex:1 0 100%;display:flex;align-items:center;gap:5px;color:#555;font-size:14px;padding-left:125px;
      &::before{@include fontello('\e877');color:#89A6D6;}
    }
  }
}
.dash_lst{gap:2px;
  li::before{height:1px;background-color:#555;}
  .dot_lst{gap:0;
    & > li::before{width:2px;height:2px;}
  } 
}
.check_lst{display:flex;gap:15px;
  label{display:inline-flex;flex-shrink:0;gap:5px;}  
}
.num_lst{counter-reset:chapter1;display:flex;flex-direction:column;gap:15px;
  li{font-size:12px;
    &::before{margin-right:5px;}
  }
  & > li{font-size:16px;
    &::before{counter-increment:chapter1;content:counter(chapter1)'.';}
    & > ol{counter-reset:chapter2;padding-left:10px;
      & > li{
        &::before{counter-increment:chapter2;content:counter(chapter1)'.'counter(chapter2) ;}
        & > ol{counter-reset:chapter3;
          & > li{
            &::before{counter-increment:chapter3;content:counter(chapter1)'.'counter(chapter2)'.'counter(chapter3) ;}
          }
        }
      }
    }
  }
}

.box_dotted{border:1px dotted #777;padding:15px;
  strong{margin-bottom:5px;}
  .box_tit{margin-bottom:15px;font-size:14px;
    &:not(:first-of-type){margin-top:15px;}
  }
  .num_lst li{font-size:12px;
    &:has(strong)::before{font-weight:600;}
  }
}


// file
.file_ipt{position:relative;display:flex;align-items:stretch;gap:5px;
  & + button{border-radius:0;line-height:30px;min-width:90px;}
  & + .file_lst{margin-top:5px;}
}
.file_wrap{display:inline-block;position:relative;width:90px;cursor:pointer;padding:0!important;text-align:center;border-radius:0;line-height:30px;}
.file_add{opacity:0;position:absolute;top:0;left:0;bottom:0;right:0;width:100%;height:100%;padding:0;border:0;cursor:pointer;}
.file_text{width:380px;background-color:#fff!important;border:none;}
.lst_attach{margin-top:5px;padding:5px 10px;
  .attach{max-width:calc(100% - 35px);text-overflow:ellipsis;overflow:hidden;white-space:nowrap;vertical-align:middle;}
}
.file_del{flex-shrink:0;@include ico_only('\e817',$tomato);
  &:hover::before{color:$red;}
}
#dropArea{border:2px dashed #007BFF;padding:10px;text-align:center;transition:background-color 0.3s ease;
  .attach_list{display:flex;flex-direction:column;gap:3px;border:1px solid #d6d6d6;padding:10px;border-color:transparent;
    li,li > a{display:flex;align-items:center;gap:7px;}  
    a:hover{text-decoration:underline;}
  }
  &:has(.progress_wrap){border:1px solid $lightgray;
    li{display:grid;grid-template-rows:repeat(2fr);}
  } 
}
#dropArea.dragover{background-color: #eaf4ff; }

// tab
.tab{display: flex;gap:4px;border-bottom:1px solid #a8a8a8;
  li{flex:1 0 auto;border:1px solid #e4e4e4;border-bottom-width:0;border-radius:3px 3px 0 0;
  }
  a{width:100%;font-size:16px;color:#888;text-align:center;line-height:40px;}
  .on{border-color:#a8a8a8;
    a{color:$blue;font-weight:700;}
  }
}
.tab_container{margin-top:30px;
  .tab_contents{@include tit_bullet('h1');
    h2{font-size:16px;color:#555;}
  }
}
.tab_m{
  li{flex:0 0 auto;
    &.on a{border-color:#fff;}
  }
  a{position:relative;bottom:-1px;border-bottom:1px solid #a8a8a8;line-height:30px;padding:0 15px;}
  & + .tab_container{margin-top:5px;
    .tab_contents{display:flex;flex-direction:column;gap:25px;}
  }
}
.tab_s{border-width:0;
  li{border-width:0;border-radius:3px;
    a{font-size:14px;line-height:30px;font-weight:700;}
    &.on{position:relative;background-color:$blue;
      a{color:#fff;}
    }
  }
  & + .tab_container{margin-top:5px;}
}
/* paginate */
.tui-pagination{display:flex;align-items:center;justify-content:center;margin-top:32px;text-align:center;gap:2px;
  span{vertical-align:top;}
  .tui-page-btn{position:relative;flex:0 30px;padding:5px;color:#333;font-size:15px;line-height:normal;font-weight:normal;border-radius:2px;font-family:"Malgun Gothic","맑은고딕","AppleSDGothic","Nanum Barun Gothic","NanumGothic","AppleGothic","Dotum","Arial",sans-serif;
    &.tui-is-selected,
    &:hover{color:#fff;background-color:$blue;}
    &.tui-is-disabled ::before,
    &.tui-is-disabled:hover{background-color:transparent;color:#ccc;}
  }
  $_tui_ico_btn:( 'prev':'〈', 'next':'〉', 'first':'〈〈', 'last':'〉〉' );
  @each $type, $txt in $_tui_ico_btn{
    .tui-#{$type}{_width /**/:47px;width:30px;height:30px;background-color:#fff;margin:0 1px;
      &:hover{background-color:#edf0f3;}
    }
    .tui-ico-#{$type}{@include f-blind;
      &::before{font-size:10px;line-height:19px;font-weight:bold;color:#000;content:$txt;}
    }
  }
}
// map
.map_wrap,.map_ctrl{position:absolute;width:100%;height:calc(100vh - 75px);}
.temp_map{position:absolute;right:0;top:-15.5%;width:1855px;
  &.map1{top:0;
    .map_scale{top:calc(100vh - 120px);}
  }
}
.symbol{--l:var(--left);--t:var(--top);
  position:absolute;left:var(--l);top:var(--t);@include f_blind;
  &::before{@include shape(16px,16px);vertical-align:middle;background:url(../images/map_symbol.png) 0 0 no-repeat;}
  @for $i from 1 to 4{
    &.ico_#{$i}::before{background-position-y:-26px * ($i - 1);}
  }
}
.map_scale{position:absolute;right:20px;bottom:20px;width:53px;border-bottom:2px solid #000; text-align: center;font-size:11px;
  &::before,
  &::after{@include shape(2px,5px);background-color:#000;position:absolute;bottom:0;left:0;}
  &::after{left:auto;right:0;}
}
.map_wrap{background-color:#fff;
  .map_tool,
  .map_type,
  .map_legend,
  .map_style{position:absolute;display:flex;align-items:center;left:15px;z-index:5;}
  .map_tool{top:18px;flex-direction:column;gap:14px;}
  .vertical_group{display:flex;flex-direction:column;
    .btn_zoomin_square{border-radius:2px 2px 0 0;}
    .btn_zoomout_square{margin-top:-1px;border-radius:0 0 2px 2px;}
  }
  summary{height:36px;padding:14px;
    h1{flex-shrink:0;font-weight:700;color:#000;}  
  }
  .map_type{left:63px;top:18px;box-shadow:2px 2px 0 rgba(0, 0, 0, 0.15);
    border-radius:3px;overflow:hidden;padding-left:1px;
    label{width:110px;margin-left:-1px;}
  } 
  .map_style{top:15px;right:15px;left:auto;
    .divide{@include divide($target:'after');align-self:flex-start;margin-top:3px;gap:3px;}
    li{
      &:first-child{margin-right:5px;
        label{padding:0 10px;cursor:pointer;box-shadow:1px 2px 2px rgba(0, 0, 0, .2);
          &:has(:checked){color:$blue;}
        }
        input[type="checkbox"]{appearance:auto;margin-right:5px;}
      }
      &:not(:first-child){
        label{@include f_blind;width:55px;height:37px;background:url(../images/map_general.png) 0 0 no-repeat;border:none;cursor: pointer;
         &:has(:checked){background-image:url(../images/map_general_on.png);background-color:transparent;border-color:$blue;color:#fff;font-weight:700;}
        }
      }
      @for $i from 2 through 4{
        &:nth-child(#{$i}) label{background-position-x:-65px * ($i - 2);}
      }
    }
  }
}
summary{display:inline-block;cursor:pointer;
  &::-webkit-details-marker,
  &::marker{display:none;content:'';}
  &::after{font-family:'fontello';content:'\e86b';font-size:14px;color:#555;}
}
.opacity,
summary{display:flex;align-items:center;overflow:hidden;}
details[open]>summary::after{margin-left:auto;content:'\e86a';}
.map_legend{bottom:15px;background-color:#fff;border-radius:3px;border:1px solid #ccc;
  .opacity label{font-weight:700;color:#000;}
  input[type="range"]{flex:1;width:80px;height:2px;padding:0;margin:0 10px;}
  .legend_body{font-size:12px;color:#555;
    section{padding:10px;border-top: 1px solid #eaeaea;
      &:first-of-type{border-color:#ccc;}
    }
    ul{display:flex;flex-direction:column;gap:5px;}
    strong{background:$bggray;border-radius:10px;padding:4px 8px;font-weight:normal;color:#555;font-size:11px;line-height:1;margin-bottom:5px;}
  }
}
.symbols li{
  label{display:flex;align-items:center;gap:5px;
    input{order:-1;}
    &::before{@include shape(16px,16px);vertical-align:middle;background:url(../images/map_symbol.png) 0 0 no-repeat;}          
  }
  @for $i from 1 to 4{
    &:nth-child(#{$i}) label::before{background-position-y:-26px * ($i - 1);}
  }
}
.safety_grade{position:relative;
  &::before{@include shape(0,calc(100% - 70px));position:absolute;left:49px;bottom:22px;border-style: solid;border-width:0 0 0 12px;border-image:linear-gradient($_safetyColor);border-image-slice:1;}
  ul{position:relative;padding-left:70px;
    &::before,
    &::after{@include shape(0,0);position:absolute;left:31px;border-style:solid;border-width:14px;border-color:transparent;}
    &::before{top:-12px;border-bottom-color:nth($_safetyColor, 1);}
    &::after{bottom:-16px;border-top-color:nth($_safetyColor, 6);}
  }
}
.safety_grade li{position:relative;
  &::before{@include shape(30px,10px);vertical-align:middle;margin-right:10px;}
  @each $type, $val in $_safetyGrade{
    &.#{$type}::before{background-color:$val;}
  }
  &:is(:first-child,:last-child)::after{position:absolute;left:-65px;top:10px;font-size:11px; content:"안전";}
  &:last-child::after{content:"위험";top:0;}
}
.distribution_legend{display:none;
  li{letter-spacing:-.05em;}
  i{margin-right:5px;vertical-align:baseline;
    &::before{position:relative;top:2px;@include shape(11px, 11px);margin-right:5px;}
  }
  $_distribution:#1833e5, #661ade, #fc15e3, #f10000;
  @each $col in $_distribution{
      $index :index($_distribution, $col);
      li:nth-child(#{$index}) i::before{background-color:$col;opacity:.4;} 
  }
}
.bdh_legend{
  li{letter-spacing:-.05em;
    &::before{position:relative;top:2px;@include shape(30px, 11px);margin-right:5px;}
    $col : #d24600;
    @for $i from 1 through 5{      
      &:nth-child(#{$i})::before{background-color:lighten($col,  10 * (6 - $i));} 
    }
  }
}
.results_region{
  .meter_area{display:none;}
  &:has(.tgl_viewType :checked){
    .heatmap_wrap{display:none;}
    .meter_area{display:block;
      label:hover{cursor:pointer;color:$blue;}
    }
  }
}
.chart_total{display:flex;flex-direction:column;justify-content:center;align-items:center;width:90px;font-weight:800;letter-spacing:-1px;word-break:break-word;margin-top:5px;
  .score{color:$lightblue;font-size:16px;margin-top:10px;border-top:1px solid #999;padding-top:6px;}
}
.heatmap_wrap{display:flex;flex-direction:column;gap:16px;padding-top:10px;}
.heatmap{display:flex;justify-content:space-between;align-items:flex-start;gap:4px;
  strong,li{display:flex;flex-direction:column;justify-content:center;align-items:center;border-radius:5px;}
  strong{flex:0 0 90px;font-weight:800;letter-spacing:-1px;word-break:break-word;}
  ul{display:flex;flex-wrap:wrap;gap:3px;width:100%;
    li{flex:0 0 auto;width:calc(20% - 3px);font-size:11px;color:#484848;line-height:1;gap:2px;padding:3px 0;white-space:nowrap;border:2px solid #000;
      .score{font-size:10px;}
      }
    }
  @each $type, $col in $_safetyGrade{
    // strong.#{$type}{border-color:darken($col, 15);background-color:$col;}
    // strong.grade5{color:#fff;}
    li.#{$type}{border-color: #{$col};
      background-color:lighten($col, 20);
      @if(lightness($col) < 55){background-color:lighten($col, 44);}
    }
  }
}
.dtl_contents{
  header h1{font-size:15px;}
  .tit h2{color:$blue;}
  .divide{border-top:1px solid #eaeaea;margin-top:10px;padding-top:30px;}
  .chartwrap{margin-top:30px;padding-top:10px;}
}
.eval_result_lst{display:flex;flex-direction:column;gap:5px;
  li{display:flex;gap:12px;align-items:flex-start;
    // strong{flex-shrink:0;display:flex;align-items:center;justify-content:center;width:72px;aspect-ratio:1;border-width:10px;border-style:solid;border-radius:50%;font-size:16px;white-space:nowrap;}
    .pie{--w:90px;--b:6px;
      strong{display:none;}
    }
    @each $type, $color in $_safetyGrade{
      &.#{$type} .pie{--c : #{$color};}
    }
    &.grade5 strong{color:#fff;}
    &.grade0 strong{border-color:#eee;}
    .desc{flex:1;min-height:90px;color:#555;line-height:1.5;letter-spacing:-.02em;border:1px solid $border;background-color:$bggray;padding:5px;border-radius:3px;}
  }
}
.pie_graphwrap{display: flex;flex-wrap:wrap;justify-content:space-around;margin-top:10px;}
@property --p{
  syntax: '<number>';
  inherits: true;
  initial-value: 1;
}
.pie {--p:var(--val);--b:12px;--c:#b1b1b1;--w:142px;--bg:#e9e9e9;
  @each $type, $color in $_safetyGrade{
    &.#{$type}{--c : #{$color};}
  }
  border-radius:50%;width:var(--w);aspect-ratio:1;position:relative;display:inline-grid; grid-template:1fr / 1fr;margin:5px 5px 27px;place-content:center;font-size:18px;letter-spacing:-.9px;
  animation: p 1s .5s both;
  &:before,
  &:after{ content: ""; position: absolute; border-radius: 50%; }
  &:before{inset: 0;
    background:
    radial-gradient(farthest-side,var(--c) 98%,#0000) top/var(--b) var(--b) no-repeat,
    conic-gradient(var(--c) calc(var(--p)*1%),#0000 0);
    -webkit-mask: radial-gradient(farthest-side,#0000 calc(99% - var(--b)),#000 calc(100% - var(--b)));
    mask:radial-gradient(farthest-side,#0000 calc(99% - var(--b)),#000 calc(100% - var(--b)));}
  &:after{inset:calc(50% - var(--b)/2);
    background:var(--c);transform:rotate(calc(var(--p)*3.6deg)) translateY(calc(50% - var(--w)/2));}
  .pie_txt{display:flex;flex-direction:column;align-items:center;justify-content:center; background-color:#fff;border-radius:50%;border:var(--b) solid var(--bg);
    span,em{font-weight:800;font-size:14px;line-height:1;}
    em{font-size:26px;}
    .score{font-size:14px;}
  }
  strong{position:absolute;bottom:-25px;left:0;width:100%;text-align:center;font-size:13px;font-weight:normal;}
}
@keyframes p{from{--p:0}}
.meter_area{display:flex;flex-direction:column;}
.meter_wrap{position:relative;margin:20px 0 44px;
  .chart_total{position:absolute;left:0;}
  &.dtl{
    li:not(.sigungu) label{color:#8b8b8b;}
  }  
}
.area_lst{display:flex;flex-direction:column;padding:3px 0;
  li{position:relative;display:flex;gap:5px;align-items:center;padding-left:90px;
    label{flex:0 0 70px;font-size:12px;text-align:right;line-height:1.2;}
    meter{position:relative;flex:1;height:23px;
      &::-webkit-meter-bar{border:none;background-color:transparent;border-radius:0;}
      &::-webkit-meter-optimum-value{border-radius:0 3px 3px 0;}
      @each $type, $val in $_safetyGrade{
        &.#{$type}::-webkit-meter-optimum-value{background-color:$val;}
      }
      &::after{line-height:23px;content:attr(value);position:absolute;right:calc(100% - var(--val,0) + 3px);top:50%;transform:translateY(-51%);font-size:11px;font-weight:700;letter-spacing:-.5px;@include textStroke();  
      }
    }
  }
  .average{label{color:#8b8b8b;}}
}
.meter_unit{$border_color:$lightgray;
  position:absolute;right:0;top:0;width:calc(100% - 165px);height:100%;border-bottom:1px solid $border_color;color:#8b8b8b;font-size:11px;
  strong{position:absolute;bottom:-44px;left:50%;transform: translateX(-50%);}
  ul{display:flex;justify-content:space-between;align-items:stretch;height:calc(100% + 4px);}
  li{display:flex;justify-content:center; position:relative;flex:1;border-left:1px solid $border_color;
    &:last-child{flex:0;}
    &:not(:last-child)::after{@include shape(0, 100%);border-right:1px dashed $border_color;}
    span{position:absolute;bottom:-20px;left:-11px;width:20px;white-space:nowrap;font-weight:700;text-align:center;}
  }
}
.pyramidwrap{position:relative;padding:0 10px;margin-top:40px;
  .txt_lst{position:absolute;left:0;top:0;display:flex;width:50%;height:100%;flex-direction:column;padding-top:30px;
    li{position:relative;flex:1;text-align:right;font-size:12px;color:#818181;line-height:1.2;letter-spacing:-.08em;word-break:keep-all;background:url('../images/red-line.png') 100% -12px no-repeat;padding-right:23px;
      &::before,
      &::after{position:absolute;right:20px;top:-14px;display:block;font-weight:700;color:#000;font-size:11px;line-height:1;letter-spacing:0;}
       &::before{font-size:25px;right:40px;top:-25px;}
      @for $i from 1 to 6{
        &:nth-child(#{$i}){width:calc(100% - ($i * 8%));
          &::before{content:"#{$i}";} 
          &::after{content:"등급";} 
        }
      }
      &:first-child{background-position-x:80%;}
      &:empty{visibility:hidden;}
    }
  }
}
.pyramid{border-right:1px solid #484848;overflow:hidden;
  $w:25px; $h:50px;
  &::before,
  &::after{@include shape(10px, 1px);background-color:#484848;position:absolute;right:7px;top:30px;}
  &::after{top:auto;bottom:0;}
  &>div{position:relative;height:0;border:25px solid transparent;border-width:0 $w $h; margin:0 auto;
    &::before{position:absolute;left:100%;top:0;@include shape(200px, $h);border-top:1px dotted #a5a5a5;}
    &::after{position:absolute;white-space:nowrap;line-height:$h;font-size:11px;color:#818181;}
    &:last-of-type{
      &::before{border-bottom:1px dotted #a5a5a5;}
    }
  }
  @each $type, $val in $_safetyGrade{
    .#{$type}{border-bottom-color:$val;}
  }
  @for $i from 1 to 6{
    .grade#{$i}{width:50 * ($i - 1) + 50px;
      &::after{content:"#{$i}등급";left:$w * ($i - 1) + 130px;}
    }
  }
  .grade5::before{transform:skewX(26deg) translateX(12px);}
  .range{position:absolute;left:50%;top:0;line-height:$h;transform:translateX(-50%);font-weight:700;@include textStroke;}
  .area{position:absolute;}
}
.regional_idx{
  .txt_summary{color:#767676;font-size:12px;line-height:1.5;padding-top:30px;word-break: keep-all;letter-spacing:-.05em;}
}
.conclusion{
  .action_plan{display:flex;flex-direction:column;gap:20px;border-radius:5px;border:1px solid #e4e4e4;background-color:#f2f2f2;padding:20px;}
}
.emergency_shelter{position:relative;flex:1;margin-right:54px;
  figure:last-of-type{position:absolute;right:0;bottom:38px;display:flex;align-items:flex-end;
    figcaption{order:-1;margin-right:9px;}
  }
  figure{text-align:left;}
  figcaption{font-size:12px;margin-top:0;text-align:left;font-weight:700;color: #000;}
  .figcaption{position:absolute;bottom:0;display:block;width:100%;text-align:center;}
}
.actions{display:grid;grid-template-columns:1fr 1fr;gap:30px;
  dl{border:1px solid $lightgray;border-radius:3px;padding:20px;@include tit('dt');margin:0;
    &::before{@include shape(100px,100px);background:url(../images/ico_actions.png) 0 0 no-repeat;}
     @for $i from 1 to 5{
      &:nth-of-type(#{$i})::before{background-position-y:-117px * ($i - 1);}
    }
  }
}
.organization{margin:20px 0 60px;
  $_color_lst:#1558d3,#1589d3,#15a4d3;
  $_border:$lightgray;
  .main{display:flex;flex-direction:column;align-items:center;
    & > li{position:relative;display:flex;flex-direction:column;align-items:center;width:290px;
      @each $color in $_color_lst{
        $index :index($_color_lst, $color);
        &:nth-child(#{$index}){
          strong{background-color:$color}
          p::after{border-color:$color}
        }
      }
      &:last-child::after{display:none;}
      &::after{@include shape(1px,30px);background-color:$_border;}
      &:has(.inner){width:100%;}
    }
  }
  p,
  strong{width:100%;line-height:53px;color:#fff;text-align:center;border-radius:3px;font-size:18px;font-weight:700;letter-spacing:-.45px;border:1px solid transparent;}
  p{position:relative;border-color:$_border;color:#555;margin-top:12px;}
  strong + p{
    &::before,&::after{position:absolute;top:-13px;left:50%;}
    &::before{@include shape(1px,12px);background-color:$_border;}
    &::after{@include shape(14px,14px);border-radius:50%;border-width:3px;border-style:solid;background-color:#fff;margin-left:-6px;top:-7px;}

  }
  .inner{width:100%;display:flex;justify-content:space-between;gap:30px;border-top:1px solid $_border;
    li{position:relative;flex:1 1 290px;
      &::before{@include shape(1px,30px);display:block;background-color:$_border;margin:0 auto;}
      &:first-child::after,
      &:last-child::after{@include shape(50%,10px);background-color:#fff;position:absolute;top:-5px;}
      &:first-child::after{left:0;}
      &:last-child::after{right:0;}
    }
    strong{position:relative;}
  }
}
.search{display:flex;gap:10px;background:#edf0f3;padding:10px 20px;margin-bottom:20px; 
  .search_lst{display:flex;gap:10px;
    li{display:flex;gap:5px;}
    input,select{border-color:$lightgray;}
    label{display:flex;align-items:center;gap:5px;color:#555;
      &::before{@include shape(3px, 3px);border-radius:50%;background-color:#555;;}
    }
  }
  .tool,
  .tool_wrap{display:flex;gap:3px;margin-left:auto;}
}
.search_min{@extend .search;padding:0;background-color:transparent;}
.dtlPannel_wrap{background-color:#f9f9f9;
  .pannel_wrap{width:300px;}
  .pannel_body{padding:20px 10px;gap:5px;    
    .sub_tit :is(.label,label){display:flex;align-items:center;width:100%;font-size:15px;color:$blue;font-weight:700;gap:5px;padding-left:5px;}
    .sub_tit .tool_wrap{display:flex;align-items:center;
      label{font-size:11px;font-weight:normal;}
    } 
    label:hover{cursor:pointer;font-weight:600;color:#000;}
    .sub_tit:has(:checked),
    section:has(:checked) .sub_tit{background-color:$blue;
      .label,label{color:#fff;}
      &::after{color:#fff;}
    }
  }
  section.sub_tit input[type="radio"]{@include blind;}  
  .map_type{flex-wrap:wrap;gap:2px;padding:5px 10px;
    & > li{flex:0 1 calc(50% - 1px);white-space:nowrap;font-weight:700;line-height:2.2;
      &:not(:first-child){border-top:1px dashed #d3d3d3;}
    } 
    label{display:flex;align-items:center;gap:5px;}
  }
  .symbols,
  .sub_type{background-color:#F4F4F4;padding:10px;border-radius:5px;
    li{display:flex;align-items:center;gap:8px;position:relative;font-weight:normal;line-height:2.2;}
  }
  .lst_ctrl{padding:0 10px;}
  .btn_help:focus-within + .layer{display:block;}
  .layer{right:0;top:25px;width:100%;
    .desc{word-break:keep-all;white-space:initial;line-height:1.5;margin:2px 20px 0 0;}
  }
}
.layer{display:none;position:absolute;min-width:230px;max-width:720px;background-color:#fff;border-radius:5px;padding:10px;border:1px solid #b4b4b4;box-shadow:0 2px 9px rgba(0, 0, 0, .22);z-index:80;
  & > strong{color:$blue;margin-bottom:5px;font-size:16px;}
  .desc{font-size:11px;color:$gray;margin-bottom:15px;line-height:1;
    span{@include divide(7px,5px);vertical-align:top;}
  }
  dt{text-align:right;background-color:#f5f5f5;padding:5px;
    span{display:block;color:$gray;font-weight:normal;font-size:11px;}
  }
  dd{display:flex;align-items:center;white-space:nowrap;font-size:14px;padding-right:5px;
    em{flex:1;text-align:right;margin-left:25px;}
  }
  .dot_lst{gap:5px;padding-bottom:5px;}
  .flex_wrap{gap:15px;}
  .pie{--w:100px;--b:10px;margin:0 0 10px;
    .pie_txt em{font-size: 20px;}
  }
  .box_wrap{display:flex;flex-direction:column;gap:5px;}
  .box_lst{background-color:#f5f5f5;border-radius:5px;padding:2px 5px;font-size:12px;white-space:nowrap;
    em{margin-left:20px;}
    dt{display:flex;align-items:center;justify-content:space-between;padding:3px;}
    dd{font-size:12px;border-top:1px solid #fff;padding:3px;color:#888;
      &:first-child{border-top-width:0;}
    }
  }  
  &:has(.area_lst) .dot_lst{border-bottom:1px solid #ccc;}
  .area_lst{margin-top:10px;
    label{flex:0 0 72px;text-align:left;}
    meter{position:relative;height:20px;z-index:10;
      &::before{position:absolute;top:50%;left:0;@include shape(100%, 15px);border:1px solid #ccc;border-width:0 1px;margin-top:-7px;}
    }
    li{gap:5px;
      &::after{position:absolute;top:50%;right:0;@include shape(calc(100% - 111px), 0);border-top:1px solid #ccc;}
    }
  }
  .btn_del{position:absolute;right:10px;top:14px;
    &::before{color:#555;font-size:14px;}
  }
}
.mngCode{display:flex;gap:60px;
  &>section{flex:1;}
  .tbl_wrap_scroll{height:calc(100vh - 350px);}
}
.tbl_comprehensive_safety{
  th{width:10%;}
  span{font-size:11px;color:#999;
    &::before{content:"(";}
    &::after{content:")";}
  }
}
.select_structure{
  // dl{display:grid;grid-template-columns:100px 1fr;row-gap:20px;}
  dt{font-weight:600;color:#000;margin-bottom:3px;
    &:not(:first-of-type){margin-top:20px;}
  }
  select{width:100%;height:250px;background:none;padding:0;
    option{padding:5px 15px;}
    :hover{background-color:$lightgray;}
    :checked{background-color:#1967d2;color:#fff;}
  }
  dd{background-color:#F4F4F4;padding:10px;display:grid;grid-template-columns:repeat(2, 1fr);gap:5px;
    label{display:flex;align-items:flex-start;gap:5px;line-height:1.3;
      &:hover{font-weight:600;}
    }
  }
}
.step_lst{position:relative;display:flex;margin-bottom:50px;
  li{position:relative;flex:1 1 20%;padding:10px 0;border:1px solid #b4b9c2;
    @for $i from 1 through 5{
      $col:darken(#e5e8ed, $i * 2.5);
      &:nth-child(#{$i}){background-color:$col;
        &::after{background-color:$col;}
      }
    }
    &:not(:first-child){border-left-width:0;}
    &:not(:last-of-type)::after{position:absolute;right:-17px;top:6px;@include shape(32px,32px);border:1px solid #b4b9c2;border-width:1px 1px 0 0;transform:rotate(45deg);z-index:5;}
    &.on{background-color:#8291a9;border-color:#4c5e7c;
      &::after{background-color:#8291a9;border-color:#4c5e7c;}
      a{color:#fff;}
    }
  }
  a{display:flex;align-items:center;justify-content:center;gap:10px;color:#777;font-weight:600;font-size:16px;
  }
  i{display:inline-block;width:62px;color:#fff;border:1px solid #fff;border-radius:13px;font-size:12px;padding:1px 0 2px;text-align:center;margin-left:-31px;
    &.step_fin{color:#555;}  
  }
  $status:('fin':#EEF0F1,'ing':#66BD43,'wait':#F2661C);
  @each $key, $val in $status{
    .step_#{$key}{background-color:$val;}
  }
}
.step_bdh{margin-bottom:70px;
  &::before,
  &::after{position:absolute;left:50%;transform:translateX(-50%);border:1px dashed #9ca9bd;}
  &::before{bottom:-20px;border-top-width:0;border-radius:0 0 20px 20px;@include shape(60%, 20px);}
  &::after{width:20%;bottom:-37px;background-color:#fff;content:'DB가공';font-style:16px;padding:5px 0;text-align:center;border-radius:15px;font-weight:600;color:#9ca9bd;}  
}
.step_content{display:flex;flex-direction:column;gap:50px;}
.simulation{gap:50px;align-items:flex-start;
  .set{display:flex;flex-direction:column;gap:10px;
    .formula{display:flex;flex-direction:column;align-items:center;background-color:$bggray;padding:15px;text-align:center;
      & > .box_white{width:calc(100% - 22px);}
    }
    .box_dotted{border-radius:3px;}
    .box_white{text-align:center;background-color:#fff;padding:10px;border-radius:3px;box-shadow:1px 1px 1px rgba(0, 0, 0, .2);}
    .info{margin-top:-5px;font-size:12px;}
    .btn_start{@extend .btn_gra;padding:8px;}  
    .tool_wrap{text-align:center;
      &::before{@include shape(100px, 0);border-top:1px solid $gray;padding-top:19px;margin-top:10px;}
    }
  }
  .result{flex:1;}
  .divide{@include divide;}
}
.tbl_simul{
  td{width:10%;}
}