@import "./reset";
// font
.t{
  &_red{color:$red;}
  &_skyblue{color:$skyblue;}
}
//ipt custom
label{&>input{margin-right:5px;}}
select,
textarea,
input[type="text"],
input[type="date"],
input[type="file"],
input[type="color"],
input[type="number"],
input[type="password"],
input[type="time"],
input[type="datetime-local"],
input[type="email"],
input[type="tel"]{@include ipt_common;min-height:28px;}
input[type="radio"]{border-radius:50%;}
input[type="checkbox"]{border-radius:2px;vertical-align:middle;accent-color:#1571d3;}
input[type="radio"]:checked{background-position-y:-23px;}
input[type="datetime-local"],
input[type="time"],
input[type="date"]{position:relative;}
input[type="datetime-local"]::-webkit-calendar-picker-indicator,
input[type='time']::-webkit-calendar-picker-indicator,
input[type="date"]::-webkit-inner-spin-button,
input[type="date"]::-webkit-calendar-picker-indicator{position:relative;z-index:2;right:0;width:13px;height:14px;background:transparent;}
textarea{min-height:100px;max-height:300px;resize:none;}
input[list]::-webkit-calendar-picker-indicator,
select{-webkit-appearance:none;-moz-appearance:none;appearance:none;padding:2px 20px 2px 10px;background:url(../images/btn_select.png) right 8px center no-repeat, rgba(255,255,255,.9);list-style:none!important;
  option:nth-of-type(1){color:#989898;}
}
input[list]{padding-left:35px;background:url(../images/ico_search.png) 10px 50% no-repeat;}
input[type="checkbox"].invalid,
input[type="radio"].invalid,
input:invalid {position:relative;outline:2px solid #e42b29;background-color: #faebe9; color: #e42b29;}
.btn_switch{display:flex;padding:0;
  input[type="radio"],
  input[type="checkbox"]{-webkit-appearance:none;-moz-appearance:none; -o-appearance:none;appearance:none;outline:none;box-shadow:none;vertical-align:middle;overflow:hidden;}
  label{min-width:40px;border:1px solid #ccc;line-height:30px;padding:0;color:inherit;font-weight:normal;cursor:pointer;text-align:center;background-color:#fff;color:#777;    
    &:hover{font-weight:700;}
  }
  input:checked+label{background-color:$blue;border-color:$blue;color:#fff;font-weight:700;}
}
.btn_gray{@include btn;color:#555;background-color:#f2f2f2;}
.btn_gray_line{@include btn;color:#555;}
.btn_blue{@include btn($blue);background-color:$blue;color:#fff;}
.btn_blue.on{box-shadow:0 0 3px $blue;}
.btn_blue_line{@include btn($blue);color:$blue;}
.btn_foot_blue{@include btn_foot;}
.btn_foot_gray{@include btn_foot(#a9a9a9);}
.btn_refresh_square{@include btn_square('\e84c');&::before{font-size:16px;}}
.btn_zoomin_square{@include btn_square('\e92c');}
.btn_zoomout_square{@include btn_square('\e92e');}
.btn_more_square{@include btn_square(null);position:relative;
  &::before,
  &::after{@include shape(12px, 2px);position:absolute;left:50%;top:50%;transform:translate(-50%,-50%); border-radius:1px;background-color:#848890;}
  &::after{transform:rotate(90deg);left:25%;top:45%;}
}
.btn_refresh{@include btn(#cbcbcb,'\e84c');color:#939393;padding:0 8px;line-height:20px;
  &::before{font-size:12px;}
}
.btn_del{@include ico_only('\eb2e');}
.btn_pdf{@include btn($addTxt:'\f1c1');}
.btn_print{@include btn($addTxt:'\e833');}
.select_lst{display:flex;flex-wrap:wrap;justify-content:flex-start;gap:9px;
  li{display:flex;align-items:center;gap:3px;position:relative;background-color:#fff;border-radius:11px;overflow:hidden;border:1px solid #9fc9ff;font-size:12px;color:#555;transition:.3s;padding:2px 9px;
    button{width:13px;height:100%;color:#dedede;font-size:0;cursor:pointer;text-align:right;
      &::after{@include fontello('\eb2e');font-size:12px;}
    }
    &:hover{background-color:#dcf1fa;border-color:#61a6fd;
      button{color:#555;}
    }    
  }
  .user_area::before{@include fontello('\eb2b');color:#057ffc;}
}
.flex_wrap{@include flex_between;}
.figure_wrap{display:flex;align-items:stretch;justify-content:space-between;margin:30px 0 20px;text-align:center;
  figure:only-child{margin:0 auto;}
  figure{flex-shrink:0;}
  .inner_wrap{display:flex;flex-wrap:wrap;
    figure{flex:1 1 auto;margin:0;img{display:block;}}
    figcaption{display:inline-block;font-size:12px;color:#000;background-color:#ebebeb;margin-top:5px;padding:3px 7px;border-radius:5px;}
  }
}
// layout
$maingap:20px;
$navH:280px;
.wrap{display:flex;flex-direction:column;position:relative;min-width:1600px;height:100vh;font-size:13px;color:$black;font-family:"NanumGothic","나눔고딕","Malgun Gothic","맑은고딕","Apple SD Gothic Neo","AppleSDGothic","Nanum Barun Gothic","NanumGothic","AppleGothic","Dotum","Arial",sans-serif;}
.header{position:relative;flex-shrink:0;height:75px;display:flex;justify-content:space-between;align-items:center;padding:0 $maingap;box-shadow:0 0 7px 0 rgba(0, 0, 0, 0.3);border-bottom:1px solid #bec6d6;z-index:100;
  .main_logo{@include shape(301px,31px);
    a{@include f_blind;width:100%;height:100%;background:url(../images/logo.png) 0 0 no-repeat;}
  }
  &::after{position:absolute;top:100%;left:0;@include shape(100%, 0);background-color:#fff;transition:height .5s;margin-top:1px;}
  &:hover{
    &::after{height:$navH;border-bottom:1px solid #bec6d6;}
    .sub{height:$navH;}
  }
}
.nav{height:100%;}
.nav_lst{display:flex;height:100%;align-items:center;
  & > li{width:175px;position:relative;height:100%;z-index:300;
    &:first-child .sub{border-left:1px solid #e4e5e9;}
    & > a{position:relative;top:1px;display:flex;align-items:center;justify-content:center;height:100%;font-weight:700;font-size:18px;padding:0 20px;border-bottom:3px solid transparent;
      &.on{color:$blue;border-color:$blue;}
      &:hover{color:$blue;}
    }  
  }
}
.sub{position:absolute;top:74px;display:flex;flex-direction:column;width:100%;height:0; gap:15px;border-right:1px solid #e4e5e9;z-index:200;overflow:hidden;transition:height .5s;
  li:first-child{margin-top:27px;}
  a{color:#666;font-size:14px;font-weight:normal;padding:0 20px;letter-spacing:-.05em;word-break:keep-all;
    &:hover{font-weight:700;}
    &.on{font-weight:700;color:$blue;}
  }
}
.main_container{flex:1;display:flex;
  &:has(.static_contents)+footer{position:static;transform:translate(0);text-align:center;margin-top:30px;padding:5px 0;background-color:#e4e4e4;}
}
.static_contents{width:1200px;margin:30px auto 0;
  &>header{@include tit(h1);margin-bottom:60px;
    h1{font-size:30px;}
  }
  article{@include tit(h2);margin-bottom:0;
    h2{margin-bottom:20px;}
    .tab_contents > section,
    &>section{padding-left:20px;margin-bottom:80px;@include tit_bullet('h3');
      h3{margin-bottom:15px;text-indent:-15px;}
      .dot_lst{padding-left:10px;}
    }
  }
  p{font-size:16px;color:#555;letter-spacing:-.05em;}
  .eq{vertical-align:sub;}
  .eq.middle{vertical-align:-webkit-baseline-middle;}
  figure{text-align:center;}
  .figcaption,
  figcaption{margin-top:10px;font-size:14px;color:#555;font-weight:normal;
    span{display:block;font-size:11px;}
  } 
  .flex_figure{justify-content:center;gap:30px;
    figure{flex:0 1 auto;display:flex;flex-direction:column;justify-content:center;gap:10px;
      img{height:auto;}
      figcaption{margin-top:auto;
        p{color:#999;}
      }
    }
    &:has(.inner_wrap){flex-wrap:wrap;gap:10px;
      .inner_wrap{gap:25px;
        & + figcaption{flex:1 0 100%;}
      }
      em{display:block;}
    }
  }
  li .equation{margin:20px 0 30px;}
  .opt3{
    .figure_wrap.flex_wrap{justify-content:flex-start;gap:25px;padding-left:10px;}
  }
}
.equation{display:flex;align-items:center;gap:8px;padding:0 30px;margin-top:50px;font-size:16px;
  .fraction{display:flex;flex-direction:column;text-align:center;line-height:2;
    span{padding:0 10px;
      &:first-of-type{border-bottom:1px solid #555;}
    }
  }
  i{font-style: italic;font-family:'Times New Roman', Times, serif;}
  dl{display:grid;grid-template-columns:80px 1fr;grid-auto-rows: minmax(auto, auto);row-gap:20px;}
  dt{font-weight:600;}
  dd{grid-column-start:2;}
}
.footer{position:absolute;left:50%;bottom:20px;@include textStroke(1);transform:translateX(-50%);}
.util{height:inherit;}
.profile{position:relative;width:150px;height:inherit;text-align:right;padding-right:5px;
  .account{position:relative;top:50%;transform:translateY(-50%);display:inline-flex;align-items:center;font-size:13px;letter-spacing:-.33px;
    img{border-radius:50%;overflow:hidden;object-fit:cover;}
    b{margin-left:10px;font-weight:700;
      &::before{position:absolute;left:0;top:0; @include shape(32px,32px);border:1px solid #ddd;border-radius:50%;}
      &::after{@include fontello("\e86a");margin-left:8px;}
    }
  }
  &:hover b::before{outline:4px solid rgba(60,64,67,.08);transition: outline .25s ease-in-out;}
  &.on{
    b::after{content:"\e86b"}
    .my_layer{display:block;}
  }
}
.my_layer{display:none;position:absolute;top:63px;right:0;width:100%; 
border:1px solid #ccc;border-radius:5px;background-color: #fff; z-index:100;box-shadow:0 0 7px rgba(0, 0, 0, .2);
  &::before{position:absolute;right:15px;top:0;@include shape(7px, 7px);border-color:#bec6d6;border-width:1px 0 0 1px;border-style:solid;background-color:#fff;transform:rotate(45deg);margin-top:-5px;}
  .my_svc{padding:10px 0;
    & a{display:flex;align-items:center;padding-left:26px;line-height:32px;font-size:13px;color:#a4a3a3;
      &::before{@include shape(16px,16px);background:url(../images/my_layer.png) 0 0 no-repeat;margin-right:17px;}
      &:hover{background-color:#f1f1f1;color:#000;
        &::before{background-image:url(../images/my_layer_on.png);}
      }
    }
    @for $i from 1 to 5{
      & li:nth-child(#{$i}) a::before{background-position-y:-26px * ($i - 1);}
    } 
  }
}

// snb
.snb{position: relative; flex:0 65px;background:$blue;
  .snb_lst li{position:relative;width:100%;height:80px;background-repeat:no-repeat;background-position-x:50%;
    a{position:relative;width:100%;height:100%;
      span{display:none;position:absolute;left:57px;top:50%;transform:translateY(-50%);background-color:#fff;border:1px solid #a2a2a2;color:$blue;box-shadow: 0.5px 0.9px 4px 0 rgba(0, 0, 0, 0.2);border-radius:5px;font-size:13px;letter-spacing:-.33px;font-weight:700;line-height:1.15;word-break:keep-all;white-space:nowrap;padding:7px;
        &::before{position:absolute;left:-5px;top:50%; @include shape(9px, 9px);border-color:#a2a2a2;border-width:1px 0 0 1px;border-style:solid;background-color:#fff;transform:rotate(-50deg) skew(-10deg);margin-top:-5px;}
      }
      &:hover span{display:block;z-index:50;}
    }
    &:hover{background-color:darken($color: $blue, $amount: 5%);}    
    &.on{background-color:$navy;}    
  }
  @for $i from 1 to 7{
    & li:nth-child(#{$i}){background-position-y:-80px * ($i - 1);}
  }
}
.sub_assessment li{background-image:url('../images/snb_assessment.png');
  &:last-child a span{min-width:122px;white-space:initial;}
}
.cont_body{flex:1;display:flex;justify-content:space-between;position:relative;min-height:366px;overflow:hidden;}
.bredcrumb{margin-bottom:20px;
  ul{display:flex;justify-content:flex-end;}
  li{letter-spacing:-.65px;color:#888;font-weight:normal;
    &:first-child{
      &::before{top:0;@include fontello('\e81f');color:#888;margin:0;font-size:15px;}
      a{@include f_blind;}
    }
    &:last-child{font-weight:bold;color:#000;}
    &::before{position:relative;top:-1px;@include fontello('\f105');margin:0 5px;color:#888;font-weight:normal;}
  }
}
.pannel{position:relative;height:100%;max-height:calc(100vh - 75px);min-height:480px;background-color: #fff;z-index:10;overflow:hidden;
  .pannel_wrap{width:400px;height:100%;border-right:1px solid $border;overflow-y:auto;}
  header{border-bottom:1px solid $border;padding:$maingap;@include tit;margin-bottom:0;}
  .filter{margin-top:15px;
    .flex_wrap{gap:4px;}
    .sigungu,
    .ipt_wrap{border:2px solid $blue;border-radius:3px;height:38px;
      select,input{border:none;width:100%;}
    }
    .sigungu{width:111px;}
    .ipt_wrap{flex:1;display:flex;align-items:stretch;}
    .btn_add{@include btn_square('\e92c');width:38px;height:auto;border:none;background-color:$blue;border-radius:0;
      &::before{color:#fff;font-size:16px;}
    }
    .select_lst{margin-top:10px;}
  }
  .pannel_body{display:flex;flex-direction:column;gap:20px;padding:$maingap;
    .tab li a{line-height:30px;}
    .tab_container{margin-top:5px;}
  }
  .main_result{display:none;}
}
.btn_area{text-align: center;margin-top:15px;}
.tit{display:flex;align-items:center;@include tit('h1,h2');
  h1{font-size:18px;color:#0065d6;}
  h2{font-size:15px;color:#555;}
  .tool_wrap{margin-left:auto;
    select{border:1px solid #000;border-radius:3px;min-width:var(--w);line-height:34px;}
  }
  .unit{font-size:11px;color:#838383;}
}
.sidePannel_fold{position:absolute;left:-1px;top:50%;display:flex;align-items:center;justify-content:center;width:22px;height:47px;background-color:#fff;
border:1px solid $border;border-left-width:0;border-radius:0 3px 3px 0;font-size:0;z-index:10;transform:translateY(-50%);box-shadow:7px 2.6px 7px 0 rgba(0, 0, 0, 0.15);cursor:pointer;
  &::before{@include fontello('\e86d');font-size:14px;color:$blue;}
  &[data-value="off"]::before{@include fontello('\e86c')}
}
.right_pannel{left:auto;right:-1px;border-radius:3px 0 0 3px;box-shadow:-7px 2.6px 7px 0 rgba(0, 0, 0, 0.15);border-width:1px 0 1px 1px;
  &[data-value="on"]::before{@include fontello('\e86c')}
  &[data-value="off"]::before{@include fontello('\e86d')}
}
.summary{overflow:hidden;border-top:1px solid #eaeaea;
  & > p{@include explanation;color:#555;letter-spacing:-.13px;background-color:#f5f5f5;margin:15px 0;padding:5px 5px 5px 25px;border-radius:5px;
    &::before{left:7px;}
  }
  .date{display:block;margin:5px 0;font-size:11px;color:#8b8b8b;letter-spacing:-.5px;text-align:right;}
}
.contents{position:relative;flex:1;background-color:gray;}

//login
.login_wrap{display:flex;flex-direction:column;align-items:center;justify-content:center;height:100vh;gap:45px;
  .footer{position:initial;font-size:12px;color: #696868;transform:translateX(0);}
}
.login{width:600px;background-color:#fff;border:1px solid #d7d7d7;box-shadow: 0 0 6px 0 rgba(3, 3, 3, 0.14);padding:59px 75px 87px;border-radius:5px;
  .logo{@include shape(211px,53px);@include f_blind;background:url(../images/logo_ndmi.png) 0 0 no-repeat;}
  .sys_logo{@include shape(442px,35px);@include f_blind;background:url(../images/logo_sysname.png) 0 0 no-repeat;}
  .ipt_wrap{display:flex;flex-direction:column;margin-top:100px;gap:30px;
    & > input{width:100%;border-bottom:1px solid #d7d7d7;border-image:none;border-width:0 0 1px;box-shadow:none;line-height:35px;}
    .set_login{font-size:13px;color:#777;margin-bottom:60px;}
    .btn_login{width:100%;color:#fff;background-color:$blue;border-radius:35px;line-height:75px;font-size:20px;font-weight:700;text-align:center;
      &:hover{background-color:darken($color:$blue, $amount:10);}
    }
  }  
}

// table
.tbl_wrap{
  .bot_wrap{display:flex;gap:4px;margin-top:20px;
    button{width:100px;line-height:40px;font-size:14px;}
  }
}
.tbl_hover tbody tr:hover{cursor:pointer;background-color:#f6f6f6;}
.tbl_default{width:100%;border-collapse:separate;
  th,td{border:1px solid #d6d6d6;border-width:1px 0 0 1px;padding:3px;letter-spacing:-.6px;
    word-break: keep-all;text-align:center;line-height:1.3;height:26px;
    &:first-child{border-left-width:0;}
  }
  thead th{border-top:1px solid #035cd5;font-size:11px;}
  th{background-color:#4596FF;color:#fff;font-weight:700;}
  .rowgroup{
    td{background-color:#EEF5FF;border-top:1px solid #82AFEB;border-bottom:1px solid #82AFEB;font-weight: 700;color:#000;}
    &+tr td{border-top-width:0;}
    &:first-of-type td{border-top-color: #035cd5;}    
  }
  tbody tr:first-child td{padding-top:4px;}
  tr:last-child td{border-bottom-width:1px;}
}
.tbl_notice,
.tbl_set{width:100%;text-align:center;color:#555;
  thead th{height:40px;border:1px solid $blue;border-width:2px 0 1px;font-weight:700;color:#000;}
  input[type="checkbox"]{accent-color:#848890;}
  td{height:35px;border-bottom:1px solid #d6d6d6;}
}
.tbl_notice{font-size:16px;
  thead th{height:57px;}
  input[type="checkbox"]{width:24px;aspect-ratio:1;}
  td{height:70px;;}
}
.tbl_intro{font-size:12px;
  thead th{height:24px;border:1px solid #999;background-color:#f5f5f5;}
  td{height:19px;border:1px solid #ccc;}
  th,td{padding:0 8px;}
}
.faq{
  %ico{@include shape(40px,40px);flex-shrink:0;border-radius:50%;color:#fff;font-size:20px;font-weight:800;text-align: center;line-height:40px;vertical-align:middle;margin-right:20px}
  th,
  td{&:first-child,&:last-child{width:70px;}}
  td{@include alignL(2);padding:20px 10px;}
  tr:nth-child(odd) td:nth-child(2)::before{@extend %ico;content:"Q";background-color:$blue;}
  tr:nth-child(even){display:none;background-color:#f6f6f6;
    td:nth-child(2) p{display:flex;padding-right:120px;
       &::before{@extend %ico;content:"A";background-color:#ccc;}
    }
  }
  tr:has(input:checked) + tr{display:table-row;}
  label{cursor:pointer;&:hover{text-decoration: underline;}}
  .btn_gray_line{border-radius:13px;}
}
.manual{table-layout:fixed;
  td{@include alignL(3){text-overflow:ellipsis;white-space:nowrap;overflow:hidden;}}
}
%attach{@include shape(24px,28px);background:url(../images/ico_attach.png) 0 0 no-repeat;}
.ico_hwp{@extend %attach;background-position-y:0;}
.ico_pdf{@extend %attach;background-position-y:-37px;}
.ico_ppt{@extend %attach;background-position-y:-74px;}
.ico_word{@extend %attach;background-position-y:-112px;}
.tbl_comprehensive_safety{
  td{width:calc((100% - 80px) / 6);white-space:10px;letter-spacing:0.05em;}
  td:first-child{width:80px;letter-spacing:-.05em;}
}

//lst
.dash_lst,
.dot_lst{display:flex;flex-direction:column;gap:15px;
  & > dd,
  & > li{position:relative;padding-left:10px;font-size:16px;color:#555;letter-spacing:-.05em;
    &::before{position:absolute;left:0;top:9px;@include shape(4px,4px);border-radius:50%;background-color:$blue;}
  }
  & > dd::before{background-color:#999;}
}
.ipt_lst{display:flex;flex-direction:column;gap:30px;
  .label,label{font-size:16px;color:$blue;margin-bottom:10px;font-weight:700;}
  input[type="text"],textarea,[contenteditable]{width:100%;font-size:14px;border:1px solid #d6d6d6;line-height:28px;color:#555;box-shadow:none;padding:5px 15px;}
  [contenteditable]{min-height:var(--h);max-height:430px;overflow-y:auto;}
}
.dash_lst{gap:2px;
  li::before{height:1px;background-color:#555;}
}

// file
.file_ipt{position:relative;display:flex;align-items:stretch;gap:5px;}
.file_wrap{display:inline-block;position:relative;width:90px;cursor:pointer;padding:0!important;text-align:center;border-radius:0;line-height:38px;font-size:14px;}
.file_add{opacity:0;position:absolute;top:0;left:0;bottom:0;right:0;width:100%;height:100%;padding:0;border:0;cursor:pointer;}
.file_text{width:380px;background-color:#fff!important;border:none;}
.lst_attach{margin-top:5px;padding:5px 10px;
  .attach{max-width:calc(100% - 35px);text-overflow:ellipsis;overflow:hidden;white-space:nowrap;vertical-align:middle;}
}

// tab
.tab{display: flex;gap:4px;border-bottom:1px solid #a8a8a8;
  li{flex:1 0 auto;border:1px solid #e4e4e4;border-bottom-width:0;border-radius:3px 3px 0 0;
    a{width:100%;font-size:16px;color:#888;text-align:center;line-height: 40px;}
  }
  .on{border-color:#a8a8a8;
    a{color:$blue;font-weight:700;}
   }
}
.tab_container{margin-top:30px;
  .tab_contents{@include tit_bullet('h1');
    h1{margin-bottom:15px;}
    h2{@include tit;font-size:16px;color:#555;}
  }
}
/* paginate */
.tui-pagination{display:flex;align-items:center;justify-content:center;margin-top:32px;text-align:center;gap:2px;
  span{vertical-align:top;}
  .tui-page-btn{position:relative;flex:0 30px;padding:5px;color:#333;font-size:15px;line-height:normal;font-weight:normal;border-radius:2px;font-family:"Malgun Gothic","맑은고딕","AppleSDGothic","Nanum Barun Gothic","NanumGothic","AppleGothic","Dotum","Arial",sans-serif;
    &.tui-is-selected,
    &:hover{color:#fff;background-color:$blue;}
    &.tui-is-disabled ::before,
    &.tui-is-disabled:hover{background-color:transparent;color:#ccc;}
  }
  $_tui_ico_btn:( 'prev':'〈', 'next':'〉', 'first':'〈〈', 'last':'〉〉' );
  @each $type, $txt in $_tui_ico_btn{
    .tui-#{$type}{_width /**/:47px;width:30px;height:30px;background-color:#fff;margin:0 1px;
      &:hover{background-color:#edf0f3;}
    }
    .tui-ico-#{$type}{@include f-blind;
      &::before{font-size:10px;line-height:19px;font-weight:bold;color:#000;content:$txt;}
    }
  }
}
// map
.map_wrap,.map_ctrl{position:relative;width:100%;height:100%;}
.temp_map{position:absolute;right:0;top:-15.5%;width:1855px;
  &.map1{top:0;
    .map_scale{top:calc(100vh - 120px);}
  }
}
.symbol{--l:var(--left);--t:var(--top);
  position:absolute;left:var(--l);top:var(--t);@include f_blind;
  &::before{@include shape(16px,16px);vertical-align:middle;background:url(../images/map_symbol.png) 0 0 no-repeat;}
  @for $i from 1 to 4{
    &.ico_#{$i}::before{background-position-y:-26px * ($i - 1);}
  }
}
.map_scale{position:absolute;right:20px;top:calc(100vh + 25% + 95px);width:53px;border-bottom:2px solid #000; text-align: center;font-size:11px;
  &::before,
  &::after{@include shape(2px,5px);background-color:#000;position:absolute;bottom:0;left:0;}
  &::after{left:auto;right:0;}
}
.map_ctrl{
  .map_tool,
  .map_type,
  .map_legend,
  .map_style{position:absolute;display:flex;align-items:center;left:15px;}
  .map_tool{top:18px;flex-direction:column;gap:14px;}
  .vertical_group{display:flex;flex-direction:column;
    .btn_zoomin_square{border-radius:2px 2px 0 0;}
    .btn_zoomout_square{margin-top:-1px;border-radius:0 0 2px 2px;}
  }
  .map_type{left:63px;top:18px;box-shadow:2px 2px 0 rgba(0, 0, 0, 0.15);
    border-radius:3px;overflow:hidden;padding-left:1px;
    label{width:110px;margin-left:-1px;}
  }
  .map_legend{width:138px;bottom:60px;background-color:#fff;border-radius:3px;border:1px solid #ccc;
    summary{display:inline-block;cursor:pointer;
      &::-webkit-details-marker,
      &::marker{display:none;content:'';}
      &::after{font-family:'fontello';content:'\e86b';font-size:14px;color:#555;}
    }
    details[open]>summary::after{margin:0 2px;content:'\e86a';}
    summary{display:flex;align-items:center;gap:12px;height:36px;padding:14px;
      h1{flex-shrink:0;font-weight:700;color:#000;}
      input[type="range"]{width: 55px;height: 2px;
        &::appearance{color:red}
      }
    }
    .legend_body{font-size:12px;color:#555;
      section{padding:10px;border-top: 1px solid #eaeaea;
        &:first-of-type{border-color:#ccc;}
      }
      ul{display:flex;flex-direction:column;gap:5px;}
      strong{margin-bottom:5px;}
      .symbols{
        li label{display:flex;align-items:center;
          input{order:-1;}
          &::before{@include shape(16px,16px);vertical-align:middle;background:url(../images/map_symbol.png) 0 0 no-repeat;margin-right:5px;}          
        }
        @for $i from 1 to 4{
          li:nth-child(#{$i}) label::before{background-position-y:-26px * ($i - 1);}
        }
      }
      .safety_grade{
        li{
          &::before{@include shape(30px,10px);vertical-align:middle;margin-right:10px;}
          @each $type, $val in $_safetyGrade{
            &.#{$type}::before{background-color:$val;}
          }          
        }
      }
    }
  }
  .distribution_legend{display:none;
    li{letter-spacing:-.05em;}
    i{margin-right:5px;vertical-align:baseline;
      &::before{position:relative;top:2px;@include shape(11px, 11px);margin-right:5px;}
    }
    $_distribution:#1833e5, #661ade, #fc15e3, #f10000;
    @each $col in $_distribution{
        $index :index($_distribution, $col);
        li:nth-child(#{$index}) i::before{background-color:$col;opacity:.4;} 
    }
  }
  .map_style{bottom:10px;
    label{@include f_blind;width:55px;height:37px;background:url(../images/map_general.png) 0 0 no-repeat;border:none;}
    input:checked+label{background-image:url(../images/map_general_on.png);background-color:transparent;border-color:$blue;color:#fff;font-weight:700;}
    @for $i from 1 to 7{
      li:nth-child(#{$i}) label{background-position-x:-65px * ($i - 1);}
    }
  }
}
.heatmap_wrap{display:flex;flex-direction:column;gap:16px;}
.heatmap{display:flex;justify-content:space-between;align-items:flex-start;gap:4px;
  strong,li{display:flex;flex-direction:column;justify-content:center;align-items:center;border:2px solid #000;border-radius:5px;}
  strong{flex:0 0 78px;height:69px;font-weight:800;letter-spacing:-1px;word-break:break-word;border-width:1px;}
  ul{display:flex;flex-wrap:wrap;gap:3px;width:100%;
    li{flex:0 0 auto;width:calc(100% / 6 - 3px);font-size:11px;color:#484848;line-height:1;gap:2px;padding:3px 0;white-space:nowrap;
      .score{font-size:10px;}
      }
    }
  @each $type, $col in $_safetyGrade{
    strong.#{$type}{border-color:darken($color:$col, $amount:15);background-color:$col;}
    strong.grade5{color:#fff;}
    li.#{$type}{border-color: #{$col};
      background-color:lighten($color:$col, $amount:38);
      @if(lightness($col) < 55){background-color:lighten($color:$col, $amount:49);}
    }
  }
}
.dtl_contents{
  header h1{font-size:15px;}
  .tit h2{color:$blue;}
  .divide{border-top:1px solid #eaeaea;margin-top:10px;padding-top:30px;}
  .chartwrap{margin-top:30px;padding-top:10px;}
}
.eval_result_lst{display:flex;flex-direction:column;gap:35px;
  li{display:flex;gap:12px;align-items:flex-start;
    strong{flex-shrink:0;display:flex;align-items:center;justify-content:center;width:72px;aspect-ratio:1;border-width:10px;border-style:solid;border-radius:50%;font-size:16px;white-space:nowrap
    ;}
    @each $type, $col in $_safetyGrade{    
      &.#{$type} strong{background-color:$col;border-color:lighten($color:$col, $amount:33);}
    }
    &.grade5 strong{color:#fff;}
    &.grade0 strong{border-color:#eee;}
    p{flex:1;color:#555;line-height:1.5;letter-spacing:-.02em;}
  }
}
.pie_graphwrap{display: flex;flex-wrap:wrap;justify-content:space-around;margin-top:10px;}
@property --p{
  syntax: '<number>';
  inherits: true;
  initial-value: 1;
}
.pie {--p:var(--val);--b:12px;--c:#b1b1b1;--w:142px;--bg:#e9e9e9;
  @each $type, $color in $_safetyGrade{
    &.#{$type}{--c : #{$color};}
  }
  border-radius:50%;width:var(--w);aspect-ratio:1;position:relative;display:inline-grid; grid-template:1fr / 1fr;margin:5px 5px 27px;place-content:center;font-size:18px;letter-spacing:-.9px;
  animation: p 1s .5s both;
  &:before,
  &:after{ content: ""; position: absolute; border-radius: 50%; }
  &:before{inset: 0;
    background:
    radial-gradient(farthest-side,var(--c) 98%,#0000) top/var(--b) var(--b) no-repeat,
    conic-gradient(var(--c) calc(var(--p)*1%),#0000 0);
    -webkit-mask: radial-gradient(farthest-side,#0000 calc(99% - var(--b)),#000 calc(100% - var(--b)));
    mask:radial-gradient(farthest-side,#0000 calc(99% - var(--b)),#000 calc(100% - var(--b)));}
  &:after{inset:calc(50% - var(--b)/2);
    background:var(--c);transform:rotate(calc(var(--p)*3.6deg)) translateY(calc(50% - var(--w)/2));}
  .pie_txt{display:flex;flex-direction:column;align-items:center;justify-content:center; background-color:#fff;border-radius:50%;border:var(--b) solid var(--bg);
    span,em{font-weight:800;font-size:16px;line-height:1;}
    em{font-size:30px;}
  }
  strong{position:absolute;bottom:-25px;left:0;width:100%;text-align:center;font-size:13px;font-weight:normal;}
}
@keyframes p{from{--p:0}}
.meter_wrap{position:relative;margin:20px 0 44px;
  $border_color:#d6d6d6;
  .area_lst{display:flex;flex-direction:column;
    li{position:relative;display:flex;gap:11px;align-items:center;    
      label{flex:0 0 62px;font-size:12px;text-align:right;line-height:1.2;}
      meter{position:relative;flex:1;height:23px;
        &::-webkit-meter-bar{border:none;background-color:transparent;border-radius:0;}
        &::-webkit-meter-optimum-value{border-radius:0 3px 3px 0;}
        @each $type, $val in $_safetyGrade{
          &.#{$type}::-webkit-meter-optimum-value{background-color:$val;}
        }
        &::after{line-height:23px;content:attr(value);position:absolute;right:calc(100% - var(--val,0) + 3px);top:50%;transform:translateY(-51%);font-size:11px;font-weight:700;letter-spacing:-.5px;@include textStroke();}
      }
    }
    .average{label{color:#8b8b8b;}}
  }
  .meter_unit{position:absolute;right:0;top:0;width:calc(100% - 73px);height:100%;border-bottom:1px solid $border_color;color:#8b8b8b;font-size:11px;
    strong{position:absolute;bottom:-44px;left:50%;transform: translateX(-50%);}
    ul{display:flex;justify-content:space-between;align-items:stretch;height:calc(100% + 4px);}
    li{position:relative;width:1px;background-color:$border_color;
      span{position: absolute;bottom:-20px;left:50%;transform:translateX(-50%);white-space:nowrap;font-weight:700;}
    }
  }
  &.dtl{
    li:not(.sigungu) label{color:#8b8b8b;}
  }
}
.pyramidwrap{position:relative;padding:0 10px;margin-top:40px;
  .txt_lst{position:absolute;left:0;top:0;display:flex;width:50%;height:100%;flex-direction:column;padding-top:30px;
    li{position:relative;flex:1;text-align:right;font-size:12px;color:#818181;line-height:1.2;letter-spacing:-.08em;word-break:keep-all;background:url('../images/red-line.png') 100% -12px no-repeat;padding-right:23px;
      &::before,
      &::after{position:absolute;right:20px;top:-14px;display:block;font-weight:700;color:#000;font-size:11px;line-height:1;letter-spacing:0;}
       &::before{font-size:25px;right:40px;top:-25px;}
      @for $i from 1 to 6{
        &:nth-child(#{$i}){width:calc(100% - ($i * 8%));
          &::before{content:"#{$i}";} 
          &::after{content:"등급";} 
        }
      }
      &:first-child{background-position-x:80%;}
      &:empty{visibility:hidden;}
    }
  }
}
.pyramid{border-right:1px solid #484848;overflow:hidden;
  $w:25px; $h:50px;
  &::before,
  &::after{@include shape(10px, 1px);background-color:#484848;position:absolute;right:7px;top:30px;}
  &::after{top:auto;bottom:0;}
  &>div{position:relative;height:0;border:25px solid transparent;border-width:0 $w $h; margin:0 auto;
    &::before{position:absolute;left:100%;top:0;@include shape(200px, $h);border-top:1px dotted #a5a5a5;}
    &::after{position:absolute;white-space:nowrap;line-height:$h;font-size:11px;color:#818181;}
    &:last-of-type{
      &::before{border-bottom:1px dotted #a5a5a5;}
    }
  }
  @each $type, $val in $_safetyGrade{
    .#{$type}{border-bottom-color:$val;}
  }
  @for $i from 1 to 6{
    .grade#{$i}{width:50 * ($i - 1) + 50px;
      &::after{content:"#{$i}등급";left:$w * ($i - 1) + 130px;}
    }
  }
  .grade5::before{transform:skewX(26deg) translateX(12px);}
  .range{position:absolute;left:50%;top:0;line-height:$h;transform:translateX(-50%);font-weight:700;@include textStroke;}
  .area{position:absolute;}
}
.regional_idx{
  .txt_summary{color:#767676;font-size:12px;line-height:1.5;padding-top:30px;word-break: keep-all;letter-spacing:-.05em;}
}
.conclusion{
  .action_plan{display:flex;flex-direction:column;gap:20px;border-radius:5px;border:1px solid #e4e4e4;background-color:#f2f2f2;padding:20px;}
}
.emergency_shelter{position:relative;flex:1;margin-right:54px;
  figure:last-of-type{position:absolute;right:0;bottom:38px;display:flex;align-items:flex-end;
    figcaption{order:-1;margin-right:9px;}
  }
  figure{text-align:left;}
  figcaption{font-size:12px;margin-top:0;text-align:left;font-weight:700;color: #000;}
  .figcaption{position:absolute;bottom:0;display:block;width:100%;text-align:center;}
}
.actions{display:grid;grid-template-columns:1fr 1fr;gap:30px;
  dl{border:1px solid #d6d6d6;border-radius:3px;padding:20px;@include tit('dt');margin:0;
    &::before{@include shape(100px,100px);background:url(../images/ico_actions.png) 0 0 no-repeat;}
     @for $i from 1 to 5{
      &:nth-of-type(#{$i})::before{background-position-y:-117px * ($i - 1);}
    }
  }
}
.organization{margin:20px 0 60px;
  $_color_lst:#1558d3,#1589d3,#15a4d3;
  $_border:#d6d6d6;
  .main{display:flex;flex-direction:column;align-items:center;
    & > li{position:relative;display:flex;flex-direction:column;align-items:center;width:290px;
      @each $color in $_color_lst{
        $index :index($_color_lst, $color);
        &:nth-child(#{$index}){
          strong{background-color:$color}
          p::after{border-color:$color}
        }
      }
      &:last-child::after{display:none;}
      &::after{@include shape(1px,30px);background-color:$_border;}
      &:has(.inner){width:100%;}
    }
  }
  p,
  strong{width:100%;line-height:53px;color:#fff;text-align:center;border-radius:3px;font-size:18px;font-weight:700;letter-spacing:-.45px;border:1px solid transparent;}
  p{position:relative;border-color:$_border;color:#555;margin-top:12px;}
  strong + p{
    &::before,&::after{position:absolute;top:-13px;left:50%;}
    &::before{@include shape(1px,12px);background-color:$_border;}
    &::after{@include shape(14px,14px);border-radius:50%;border-width:3px;border-style:solid;background-color:#fff;margin-left:-6px;top:-7px;}

  }
  .inner{width:100%;display:flex;justify-content:space-between;gap:30px;border-top:1px solid $_border;
    li{position:relative;flex:1 1 290px;
      &::before{@include shape(1px,30px);display:block;background-color:$_border;margin:0 auto;}
      &:first-child::after,
      &:last-child::after{@include shape(50%,10px);background-color:#fff;position:absolute;top:-5px;}
      &:first-child::after{left:0;}
      &:last-child::after{right:0;}
    }
    strong{position:relative;}
  }
}
.search{display:flex;gap:10px;background:#edf0f3;padding:10px 20px;margin-bottom:20px;
  .search_lst{display:flex;gap:10px;
    li{display:flex;gap:5px;}
  }
}