@import "./reset";
$maingap:20px;
dialog{width:var(--width);}
:modal {margin:auto;padding:20px;border:none;box-shadow: 1.4px 1.4px 29px 0 rgba(0, 0, 0, 0.08);font-size:13px;
  .p_header{@include tit(){h1{font-size:15px;}};
    .btn_close{@include ico_only('\eb2e');cursor:pointer;margin-left:$maingap;
      &::before{font-size:16px;color:#000;};
    }
  }
  .p_body{max-height:calc(100vh - 240px);overflow-y:auto;font-size:13px;letter-spacing:-0.33px;}
  .p_foot{display: flex;justify-content: flex-end;align-items: center;gap:3px;margin-top:8px;}
}
.line_style{
  .p_header{border-bottom:2px solid $blue;padding-bottom:10px;margin-bottom:20px;
    h1{font-size:22px;}
    .btn_close::before{font-size:20px;}
  }
  .p_foot{margin-top:40px;}
}
.p_areaSelect{$border_color:#cbcbcb;
  %tit{background-color:#f9fafc;border-bottom:1px solid $border_color;line-height:37px;font-weight:700;color:#000;padding:0 15px;margin-bottom:0;}
  .select_area{
    display:flex;align-items:stretch;border:1px solid $border_color;
    strong{display:block;@extend %tit;}
    ul{display:flex;align-items:flex-start;gap:18px;padding:15px;max-height:240px;overflow-y:auto;color:#777;}   
    .sido{flex:1;
      ul{flex-direction:column;}
    }
    .sigungu{flex:2;border-left:1px solid $border_color;
      ul{flex-wrap:wrap;}
      li{flex:1 0 calc(50% - 9px);}
    }
    label:has(input:checked){color:$blue;}
  }
  .selected_area{margin-top:8px;border:1px solid $border_color;
    .tit{@extend %tit;
      h2{color:#000;font-size:13px;}
    }
    .select_lst{height:120px;align-items:flex-start;padding:15px;overflow-y:auto;
      li{color:#2287f3;font-weight:700;}
    }
  }
}
.p_body:has(.report_wrap){border:1px solid #000;}
.report_wrap{padding:$maingap;
  header{overflow:hidden;color:#000;letter-spacing:-1px;padding-top:15px;margin-bottom:40px;
    h1{font-size:20px;font-weight:700;text-align:center;}
    .date{float:right;font-size:14px;padding-right:1px;}
  }
  .report_body{display:flex;flex-direction:column;gap:25px;counter-reset:report_tit;color:#555;
    & > section{@include tit(h2);padding-left:15px;
      h2{font-size:14px;counter-increment:report_tit;text-indent:-15px;margin-bottom:10px;
        &::before{content:counter(report_tit)'.';margin-right:5px;}
      }
    }
  }
  .graphs_wrap{display:flex;justify-content:start;align-items:center;gap:50px;
    .pie_graphwrap,
    .meter_wrap{flex:1;}
  }
  .heatmap_wrap{display:grid;grid-template-columns:1fr 1fr;gap:$maingap;margin-top:40px;}
  .chartwrap{width:300px;margin:0 auto;}
  .tbl_wrap{margin-top:$maingap;}
}
.p_simul{border:1px solid $blue;border-radius:10px;box-shadow:1px 1px 4px 0 rgba(0, 0, 0, .2);
  .txt,.fin_txt{display:flex;flex-direction:column;justify-content:center;align-items:center;font-weight:700;font-size:16px;}
  .txt{gap:5px;background:url(../images/ico_loading.gif) 50% 0 no-repeat;padding:60px 0 10px;
    strong{display:block;color:$blue;;}
  }
  .fin_txt{display:none;padding:50px 0;}
  &.fin{.txt{display:none;}.fin_txt{display:flex;}} 
}